---
layout: base
inhibit_indexifier: true
tab: home
---
- for post in site.busausbaus
  .blogpost
    %h2
      %a{:href=>"#{site.base_url}#{post.url}"}= post.title
    %p
      ~ post.content[0,600]
