---
layout: base
inhibit_indexifier: true
tab: home
---
%h2 Impressum
%p Anbieterkennzeichnung nach P6 Teledienstgesetz:
%p Marco Knüttel
%p Avenariusstrasse 46
%p 90409 Nürnberg, Germany
%p E-Mail: webmaster@knuettel.de
%p Internet: www.knuettel.de
%p Inhaltlich Verantwortlicher gemäss § 10 Absatz 3 MDStV: Marco Knüttel (Anschrift wie oben)
%p Haftungshinweis:
%p Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschliesslich deren Betreiber verantwortlich.
