---
layout: base
inhibit_indexifier: true
tab: home
---
%h2 Panorama
- for picture in site.picasa.alben["panorama"].pictures.reverse[0,10]
  .panorama
    %a{:href => "#{picture['link']}"}
      %img{:src => "#{picture['url']}"}
  %p
%a{:href => "#{site.picasa.alben['panorama'].link}"}
  %p Mehr Bilder
