---
title: 'Reiseroute Europareise 2012'
layout: buessli
---
.blogpost
  %h2 Fahrtroute der Europareise 2012
.blogpost
  .map{:route => "yes" , :gpx =>"#{site.base_url}/gpx/zusammenfassung.small.publish.gpx"}
.blogpost
  %h2 Restroute der Europareise 2012
.blogpost
  .map{:route => "yes" , :gpx =>"#{site.base_url}/gpx/rest.small.publish.gpx"}
