---
title: 'Reiseroute Europareise 2012'
layout: base
inhibit_indexifier: true
tab: home
---
%h2 Fahrtroute der Europareise 2012
%p &nbsp;
.map{:route => "yes" , :gpx =>"#{site.base_url}/gpx/zusammenfassung.small.publish.gpx"}
