---
title: 'Die Heckt체ren'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2011, Busausbau, Technik ]
---
<p>Damit auch von hinten keine K채lte und L채rm in den Bus kommt sind werden auch diese noch verkleidet.
</p>
<p>Und dann noch die Hartfaserplatte dr체ber ....
</p>
<%= site.picasa.alben["2011-08-11-busausbau"].get_picture_table %>
