---
title: 'Der Müll muss erst mal raus'
author: 'Marco Knuettel'
layout: busausbau
tags: [ 2011, Busausbau, Technik ]
---
<p>Der Einsatz bei DHL ging nicht Spurlos am Bus vorbei. Überhaupt der Zwischenhändler ging nicht sehr sorgsam mit dem Bus um und somit muss die "stinkige" Innenverkleidung erst mal zum Wertstoffhof.
</p>
<%= site.picasa.alben["2011-04-17-bus-abbau"].get_picture_table %>
