---
title: 'Und nochmal von vorne ...'
author: 'Marco Knuettel'
layout: busausbau
tags: [ 2011, Busausbau, Technik ]
---
<p>Nachdem wir jetzt unseren profesorischen Ausbau einige Wochen getestet haben, die Sitz-/Bettkonstruktion super funktioniert hat und die Fenster den wochenlangen Regentest bestanden haben soll das Buessli jetzt endlich innen weiter ausgebaut werden. Dafür haben wir noch einmal alles innen herausgerissen.
</p>
<%= site.picasa.alben["2011-05-24-busausbau"].get_picture_table %>
