---
title: 'Endlich fertig isoliert ...'
author: 'Marco Knuettel'
layout: busausbau
tags: [ 2011, Busausbau, Technik ]
---
<p>Nach 3 Packungen "ITCHY-WOOL", einigen Quadratmetern X-trem-Isolator und den 3mm Hartfaserplatten ging die Isolieraktion am Wochenende endlich dem Ende entgegen. Dany hat noch die Radkästen proffesionell mit Isolator verklebt und ich die Seitentür ausgestopft.
</p>

<%= site.picasa.alben["2011-07-21-busausbau-isolation"].get_picture_table %>

<p>Ab Mittwoch hab ich mal ein paar Tage Busurlaub in dem wir dann hoffentlich das Projekt abschließen.</p>
