---
title: 'Die erste kleine Ausfahrt ...'
author: 'Marco Knuettel'
layout: busausbau
tags: [ 2011, Busausbau, Technik ]
---
<p>Nachdem wir heute spontan noch ein provesorisches Bett eingebaut haben mussten wir das natürlich auch gleich in freier Wildbahn testen.
</p>
<%= site.picasa.alben["2011-04-24-ostern"].get_picture_table %>
