---
title: 'Es werde Licht ...'
author: 'Marco Knuettel'
layout: busausbau
tags: [ 2011, Busausbau, Technik ]
---
<p>In so einem geschlossenem Kastenwagen ist es ja nicht wirklich gemütlich. Wir wollen ja schon ab und an mal rausschauen. Dafür werden jetzt erst mal Fenster in die Seitenwände und in das Dach eingebaut. Mit viel Licht im Innenraum und Rollos zum verdunkeln ist das dann schon gleich viel "wohnlicher"
</p>
<%= site.picasa.alben["2011-04-26-busausbau"].get_picture_table %>
