---
title: 'Fast fertig :-)'
author: 'Marco Knuettel'
layout: busausbau
tags: [ 2011, Busausbau, Technik ]
---
<p>So, die letzten Tage Urlaub haben sich gelohnt. Nach tagelanger fitzelarbeit beim beziehen der Teile hat sich gottseidank keiner den Cutter in die Hand gerammt oder die Finger am Holz mit dem Elektrotacker fest geschossen. *SCHWEISSABWISCH*
</p>
<p>Nun fehlen nur noch Kleinigkeiten wie Kantenumleimer, Haken an den Wänden und ein paar Dinge die es noch gemütlicher machen ....
</p>
<%= site.picasa.alben["2011-08-23-busausbau"].get_picture_table %>
