---
title: 'Von Deutschland nach Dänemark'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Dänemark, Europa, Reise, Urlaub ]
---
<p class="where">1. Mai (Roth, Elfershausen, Dänemark)</p>
<p>Nach mehreren Zwischenstopps bei Eltern, Großeltern und weiteren Verwandten machten wir uns auf den Weg raus aus Deutschland: auf der A7 etwa 850 Kilometer am Stück Richtung Norden. Am Anfang einer so langen Reise gleich mit Superlativen um sich zu werfen, macht wahrscheinlich nicht soviel Sinn, aber ich denke, unser Bus hat auf dieser Strecke gleich den bisher tiefsten Punkt durchfahren: minus 30 Meter unter Hamburgs Elbbrücken hindurch. Bleibt noch zu hoffen, dass alle weiteren Grenzübergänge genauso leicht vonstatten gehen wie der nach Dänemark: Einfach durchfahren! Abends gab's das erste Mal (von wahrscheinlich vielen, vielen, vielen, vielen Malen) Nudeln und dann brach auch schon die erste Nacht in unserem Büssli an. Godnat!
</p>
<%= site.picasa.alben["2012-05-01-abfahrt-nach-dk"].get_picture_table %>
