---
title: 'Das wird ein guter Jahrgang ...'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, Norwegen, Reise ]
---
<p>Vor zwei Tagen habe ich eine Mail aus Kukulaforsens bekommen „Unser Paket ist da!“. Erst habe ich mich gefreut, aber als ich dann weitergelesen habe stand auf einmal: „Sie können es nicht ohne meinen Ausweis abholen, aber ich kann mal bei der Poststelle anrufen und mit ihnen klären, ob sie das lagern.“ Naja, mit skandinavischen Hotlines telefonieren kann ich jetzt schon, wegen den Handykarten und dem norwegischen AutoPass habe ich da schon meine Erfahrungen gesammelt. Bei der Poststelle war das ganz neu – es ging sofort eine richtige Person ran – TOP! Dieser hab ich dann erst mal das Problem erklärt, worauf sich rausstellte, der Campingplatz könnte sehr wohl das Paket abholen.
</p>
<p>Die nette Dame gab mir dann aber auch noch die Telefonnummer von „Post Coustomer Service Sweden“ ... nur für den Notfall ;-) Also hab ich nochmal am Campsite angerufen, die haben sich dann wieder hin und her gewunden, woraus deutlich zu erkennen war: Die haben einfach keinen Bock! Nachdem ich mich nach ner Kaffeepause erst mal abgeregt hatte, beschloss ich doch noch bei der „Notfallnummer“ anzurufen. Nach 3 Minuten norwegischem Gelaber ging dann endlich eine Frau ran. „Do you speak english?“ – „Yes“ ... ok, dann mal folgendes Problem: Mein Paket liegt im Postoffice und keiner will es abholen. Wenn es zurück an die Absenderadresse geht, liegt es in einer Tankstelle im Süden von Schweden, wo es auch keiner abholt – Was nun? So was kommt scheinbar nicht so oft vor und angeblich kann man das auch nicht lösen! Fazit ist nun wenn das dann an der Tanke liegt, geht das nach 2 Wochen in ein Zentrallager und wird da eingelagert ... na das wird mal ein alter Wein ☺
</p>
<p>Jetzt hab ich nur noch eine Hoffnung, dass es eventuell möglich ist das Paket nochmal zu schicken kurz bevor es ins Zentrallager geht, aber wer soll das machen .... naja, man wird sehen ☺
</p>
<p>Auf jeden Fall hab ich die Leute vom Campingplatz in Kukulaforsens jetzt schon gefressen ... da werden wir wohl nicht vorbeifahren ...</p>
