---
title: 'Sitzen und Schwitzen in Ungarn'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, GPX, Karte, Reise, Route, Ungarn, Urlaub ]
---
<p>(21. August, Györ)
</p>
<p>Mit anderen Worten: Es ist heiß! Seit Tagen und zwar so richtig. 33, 34 Grad stand in letzter Zeit oft auf dem Thermometer. Meine Befürchtungen, es werde bald Herbst, nehme ich hiermit wieder zurück. Noch vor zwei Wochen habe ich Marco bei jedem gelben Blatt am Baum, das ich entdeckt habe, mit den Worten genervt: „Oh nein, jetzt ist es soweit! Es wird Herbst! Es wird kalt!“ Davon sind wir im Moment weit entfernt, was Vor- und Nachteile hat. Fahren in einem Auto ohne Klimaanlage: Nachteil. Bis spät nachts draußen in kurzen Sachen sitzen: Vorteil ;-)
</p>
<p>Trotz der Hitze machten wir uns auf, die Stadt Györ (auf deutsch Raab) zu erkunden. Zumindest eine richtig wichtige Mission hatten wir an diesem Tag auch, denn wir mussten einen Baumarkt finden. Leider hatte eine der Latten unserer Bettkonstruktion den Geist aufgegeben, was zur Folge hatte, dass wir unser Bett nur noch zur Hälfte aufbauen konnten. Die erste Nacht schliefen wir noch zu zweit auf dem halben Bett, aber zumindest für Marco war das alles andere als erholsam. Deswegen brauchten wir dringend eine Ersatzlatte und Winkel. Die nette Dame an der Rezeption, die fließend deutsch konnte, hatte uns extra einen kleinen Stadtplan gemalt, wo wir einen Baumarkt finden konnten. Die Straße fanden wir auch, nur nicht den Baumarkt. Der wurde wohl zugunsten des neuen Obi, der dort gerade errichtet wird, abgerissen. A propos Obi: noch viel mehr als in Polen hatten wir in Ungarn das Gefühl, durch deutsche Gewerbegebiete zu fahren: Aldi, Lidl, Deichmann, Fressnapf, Rossmann ... alles da. Da kann ja gar kein Heimweh aufkommen.
</p>
<p>Nachdem der Baumarkt nicht zu finden war, machten wir uns auf in die City. Györ ist wirklich ein nettes Städtchen mit vielen Jugendstilhäusern, Kirchen und einem Kloster. Hin und wieder sah man auch Überreste aus der sozialistischen Zeit: Statuen oder Fresken an den Häusern mit heroisch dreinblickenden Männern und Frauen, die mit hochgekrempelten Ärmeln irgendwas in die Luft halten. 
</p>
<p>Damit wir auch in Ungarn mit der großen weiten Welt verbunden sind, suchten wir einen Telenor-Laden auf, quasi die ungarische Telekom, um uns eine Handykarte zu besorgen. Es fand sich dort auch ein sehr netter Verkäufer (wie überhaupt alle Menschen hier bisher ausgesprochen hilfsbereit waren!), der englisch konnte und uns die verschiedenen Möglichkeiten und Tarife erklärte. Im Gegensatz zu vielen anderen Ländern, in denen wir uns bisher mit Internet versorgt hatten, war es hier aber ganz schön aufwendig: Ausweis vorzeigen, zweimal unterschreiben und dann bekamen wir eine SIM-Karte und einen mehrseitigen Vertrag – auf ungarisch. Zum Vergleich: In Polen kann man sich einfach an einem Kiosk, ohne Ausweis oder ähnliches, eine SIM-Karte kaufen. Aber egal, zumindest funktionierte (fast) alles auf Anhieb. Auf dem Rückweg zum Campingplatz hielten wir noch an einem Supermarkt und deckten uns erstmal mit kühlen, frischen Sachen ein: Salat und Radler ;-)
</p>

<%= site.picasa.alben["2012-08-21-ungarn"].get_picture_table %>

<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-08-21-10-38-europa-ungarn_R.small.gpx"></div></p>
