---
title: 'Auf gehts ....'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Europa, Reise ]
---
<p>Samstag, 14 Uhr - pünktlich auf die Minute haben wir unsere Wohnung zur Übergabe fertig und die letzte Kiste im Bus verstaut. 14:30 sind wir wohnungslos. Ein richtiges Bett besitzen wir jetzt nur noch hinter verschlossenen Türen. Jetzt gehts endlich los. 14:55 verlassen wir Nürnberg ....
</p>
<%= site.picasa.alben["2012-04-29-reise-aufgehts"].get_picture_table %>
