---
title: 'Ein bisschen Verlust hat man immer'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, GPX, Karte, Reise, Route, Ungarn, Urlaub ]
---
<p class="where">22. – 23. August (Budapest)
</p>
<p>Nach zwei Tagen an einem fast menschenleeren Campingplatz in Györ, an dem die einzigen Geräusche das Muhen unserer Nachbarn (eine Bullenherde) und gelegentliche Schüsse auf dem nahe gelegenen Schießstand waren, fuhren wir heute wieder in eine Großstadt. Budapest war unser Ziel. Auf dem Weg dorthin wollten wir durch die Hügel nördlich von Budapest fahren und unterwegs mal an einem Baumarkt anhalten. Schließlich musste ja unser Bett repariert werden. Nach einigen Kilometern sahen wir schon ein „Praktiker“-Schild am Straßenrand – wie praktisch ;-) Hier gab es auch endlich eine Holzlatte und Metallwinkel, die ohne großen Aufwand helfen würden.
</p>
<p>Durch den Duna-Ipoly-Nationalpark fuhren wir dann weiter in die Großstadt. Am Stadtcampingplatz „Haller“ angekommen reparierte ich erst mal unsere Bettkonstruktion, damit wir wieder gemeinsam auf einer Ebene schlafen können. Hat sich doch rentiert, dass wir SPAX-Schrauben und nen Akkuschrauber dabei haben. 10 Minuten später hatten wir endlich wieder ein Bett und mussten uns bei einem kühlen Radler im Schatten unserer Markise ausruhen. 
</p>
<p>Am späten Nachmittag unternahmen wir dann doch noch einen Ausflug mit den Fahrrädern in die Innenstadt und verschafften uns einen Überblick. Wie wir schon auf den Stadtplänen erkennen konnten, gibt es in Budapest sehr viele Sehenswürdigkeiten. Die Stadt wird durch die Donau in zwei Teile geteilt: Buda und Pest. Letzteres wird übrigens „Pescht“ ausgesprochen, für alle Besserwisser ;-) Buda ist der ältere und hügeligere Teil, wo auch das Schloss, der Präsidentenpalast und eine der zwei größten Kirchen der Stadt zu finden sind. Pest dagegen erinnert ein wenig an Wien mit den ganzen prachtvollen Stadtpalästen. Das liegt auch daran, dass Österreich und Ungarn lange Zeit zusammengehörten und die Habsburger hier das Sagen hatten. Auch unter türkischer Herrschaft war das Land fast 150 Jahr. Die guten Dinge, die aus dieser Zeit übrig geblieben sind: Heilbäder, Kaffee und Döner ;-)
</p>
<p>Gegen Abend fanden wir einen gemütlichen Falafel-Laden an einem netten, belebten Platz. Dort genossen wir die Sommernacht und schwitzen weiter vor uns hin, denn auch um 22 Uhr zeigte das Thermometer noch 34 Grad an. Die hohen Temperaturen sorgten aber auch für eine sehr beschwingte, südländische Stimmung in der Stadt. Auf einer der zahlreichen Brücken über die Donau saßen etliche Menschen mit einem Fläschchen Wein auf den breiten Brückenpfeilern und bewunderten das Panorama der beleuchteten Burg. 
</p>
<p>In der Nacht kühlte es nicht wirklich ab und so ging der nächste Tag schon mit 30 Grad und Sonnenschein los. 
</p>

<%= site.picasa.alben["2012-08-22-ungarn"].get_picture_table %>

<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-08-22-11-07-europa-ungarn_R.small.gpx"></div>
</p>
<p>Für diesen Tag waren 38 Grad Lufttemperatur gemeldet. Damit wir noch die „kühlere“ Temperatur des Morgens mitnehmen konnten, entschlossen wir uns, die schon um 10:30 beginnende FreeWalkingTour zu besuchen. Eine Premiere für uns! Zügig radelten wir die 5 Kilometer bis zum Startpunkt der Tour und parkten unsere Fahrräder an einem Fahrradständer. Gut gesichert ließen wir die Bikes zurück und gesellten uns zu den anderen, schon wartenden Teilnehmern.
</p>
<p>Auf Grund der hohen Anzahl wurden wir in drei kleinere Gruppen geteilt. Wir hörten wieder viel über Geschichte, Land und Leute. Sissi kam natürlich auch oft vor. Sie war in Ungarn sehr beliebt, so dass viele Straßen und Plätze in Budapest nach ihr benannt wurden. Am Ende der Tour gab es noch reichlich Tipps zum Ausgehen, Essen und natürlich auch zu Dingen, die man nicht machen sollte. Das Angebot unseres Guides, mit in die Stadtkantine zu gehen, nahmen wir dankend an. Die Location sah laut Dany aus wie die Mensa in Erlangen. Dort bekamen wir wirklich lokales Essen zu einem günstigen Preis und lecker war es auch ;-) 
</p>
<p>Wie ich leider in letzter Zeit häufiger feststellen musste, machte das Objektiv unserer Kamera immer mehr Probleme. Ich hatte schon mal im Internet recherchiert und dort gelesen, dass das Objektiv bei der Art von Fehlermeldung wahrscheinlich kaputt ist. Aber vielleicht findet man in Budapest ja einen Laden, der was machen kann.
</p>
<p>Nach der Stadtführung suchten wir also einen Fotoladen auf und wurden auch fündig. Der Mann, der sich unser Problem anhörte, konnte zwar nur sehr wenig englisch, aber ein Wort dafür sogar auf deutsch: „kaputt“. Der supernette Mann wollte uns noch erklären, wo wir das eventuell auf Garantie repariert bekämen. Aber das würde angeblich mindestens 10 Tage dauern und er riet uns, das lieber zuhause machen zu lassen. Auch bei der Nachfrage in einem anderen Laden war direkt klar: Das Ding ist hin. Die Frau wusste auch detailliert, was das Problem an dem Objektiv war. Sie hatte zwar auch keine Lösung für uns, aber wenigstens einen Tipp, wo wir uns ein günstiges, neues Objektiv kaufen könnten. Im DigitCam-Laden wurden wir dann auch sehr nett beraten und gingen mit einer Liste mit Möglichkeiten erst mal zum Kaffeetrinken.
</p>
<p>Dort beschlossen wir, bei einem Mediamarkt ein paar Kilometer entfernt im Norden zusätzlich nach Vergleichsangeboten zu schauen. Auf dem Weg dorthin lag auch ein Langosch-Stand, den uns unseres Guides empfohlen hatten. Diese typisch ungarische Spezialität aus einem im Fett rausgebackenen Teigfladen mit Knoblauchsoße, Sauerrahm und Käse wollten wir uns natürlich nicht entgehen lassen. 
</p>
<p>Wir liefen zu unseren Rädern und wollten uns auf den Weg machen. Leider mussten wir am Fahrradständer feststellen, dass jemandem mein Fahrrad mindestens genauso gut gefallen hat wie mir :-( Es war weg, samt Schloss! Danys rosarotes Martinelle-Bike dagegen lehnte noch unabgeschlossen am Ständer. 
</p>
<p>Echt besch..., aber kann man wenig machen. Ist halt eine Großstadt. Jetzt brauchten wir natürlich noch viel mehr als vorher ein Langosch! Unterwegs fragten wir eine Polizeistreife, ob es Sinn mache, ein gestohlenes Fahrrad zu melden. Viel Deutsch oder Englisch verstanden die beiden nicht, aber wir erfuhren wenigstens wo die Polizeistation ist, auf die wir gehen könnten. 
</p>
<p>Am Langosch-Stand angekommen ließen wir uns erst einmal unser Abendessen schmecken und ein kühles Bier. Wir beschlossen, wenigsten das Objektiv für die Kamera nach zu kaufen, damit der Tag noch einen schönen Abschluss hat. Wenn schon kein Rad mehr, dann wenigstens viele Fotos machen! 1 Minute nach Ladenschluss reichte uns dann die etwas genervte Verkäuferin das Objektiv über die Theke – hier wird pünktlich Feierabend gemacht! Dann machten wir uns zu Fuß auf den Weg die sechs Kilometer zurück bis zum Campingplatz. 
</p>

<%= site.picasa.alben["2012-08-23-ungarn"].get_picture_table %>

<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-08-23-09-58-europa-ungarn_R.small.gpx"></div>
</p>
