---
title: 'Was für ein Stress'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Estland, Europa, GPX, Karte, Reise, Route, Urlaub ]
---
<p class="where">12. Juli (Lessi, Juminda)
</p>
<p>Hätte ja kaum gedacht, dass ich das auf unserer Reise mal schreiben würde, aber heute mussten wir uns mal erholen vom Stress der letzten Tage :-). Sightseeing und das Herumlaufen in Helsinki und Tallin hat uns ganz schön geplättet. Wir sind froh, mal wieder in der Natur mit zwitschernden Vögeln, rauschendem Meer, strahlender Sonne und vielen stechenden Moskitos zu stehen. Wir konnten uns nur soweit aufraffen, dass wir die Steingräber an unserem Übernachtungsplatz besichtigten und dann an das 5 km entfernte Meer zum Sonnenbaden gefahren sind. Nach einigen Stunden Erholung am Strand stellten wir fest: „Eigentlich wäre es ja mal Zeit für ne Kaffeepause“. Auf der Open-Street-Map-Karte war in einigen Kilometern Entfernung ein Zeltplatz eingezeichnet. Den wollten wir uns mal anschauen und uns dort einen Kaffee machen. Nach einigen Kilometern Schotterpiste und Waldweg waren wir am Zeltplatz fast alleine. Nur ein paar andere Touristen sahen sich kurz das Kriegsdenkmal von 1941 an. Wir genossen den Kaffee und die Sonne, als wir in weiter Ferne das Donnern eine Gewitters hörten. Puh, Glück gehabt, da brauchen wir heute auch keine Wanderung mehr zu machen :-D. Wir saßen noch in der Sonne herum, bis wir die ersten Tropfen abbekamen und setzten uns dann lieber in den trockenen Bus. In einer kleinen Regenpause machten wir noch einen Spaziergang zum nahe gelegenen Leuchtturm und schauten ein bisschen raus aufs Meer .... schon echt gut so ein Tag ohne Stress ;-)
</p>
<p>Wir waren uns ziemlich sicher: „Hierher kommt heute Nacht niemand mehr“. Als wir in der Früh aufwachten, meinte Dany nur: „Da war heute morgen doch ein Auto, oder?“. Also ich hatte nichts gehört. Jedoch entdeckte ich kurz darauf einen Flyer an unserer Windschutzscheibe. Irgendeine nette einheimische Person hatte uns ein Infoheft über ihr 35 Einwohner großes Dorf Juminda gebracht. Sie haben 40 Häuser, einen Spielplatz mit Schaukel und 4 Kinder – und das Wichtigste: Sie sind mächtig stolz auf ihr Dorf! Die Esten werden uns immer sympathischer, wirklich ein nettes Volk. Heute werden wir dann erst mal das Dorf anschauen und dann ... man wird sehen ...
</p>
<%= site.picasa.alben["2012-07-12-estland"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2012-07-12-11-55-europa-estland_R.small.gpx"></div>
</p>
