---
title: 'Abschiedsparty'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Europa, Reise, Urlaub ]
---
<p>Vielen Dank für die Hammer-Abschiedsparty!!!! War der absolute Wahnsinn :-)
</p>
<p>Hier ein paar Bilder ...
</p>
<%= site.picasa.alben["2012-04-21-abschiedsfeier"].get_picture_table %>
