---
title: 'Über eine Brücke musst du gehen ...'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Dänemark, Europa, Reise ]
---
<p class="where">3. Mai (Faborg - Ishöj)
</p>
<p>Nächstes großes Ziel auf der Route ist Kopenhagen. Die Hauptstadt befindet sich auf Seeland und um von der Insel Fünen dorthin zu gelangen, fährt man auf einer ewig langen Brücke über die Ostsee. Die Storebaeltbrücke ist 18 km lang und hat eine maximale Höhe von 65 Meter. Eine der größten Hängebrücken der Welt. Hatte für mich einen Hauch von Golden-Gate-Bridge. Auf der Margeriten-Route (übrigens die Lieblingsblume der dänischen Königin) ging es dann kreuz und quer übers Land. Kurz vor Kopenhagen haben wir uns einen Campingplatz gesucht, um am nächsten Tag die Stadt zu erkunden.
</p>
<%= site.picasa.alben["2012-05-03-dk"].get_picture_table %>
