---
title: 'Es ist nicht immer Sonnenschein '
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Europa, GPX, Karte, Lettland, Reise, Route, Urlaub ]
---
<p class="where">24. Juli</p>
<p>Im Klartext könnte man auch sagen: „Wenn dann mal die Luft raus ist“. Am Samstag war seit längerem wieder einer der Tage, an denen es fast komplett durchgeregnet hat. Nachdem wir ziemlich lang im Bus herumgegammelt hatten, beschlossen wir, nach Sigulda zu fahren. Dort gibt es drei große Burgen und auch viele andere Dinge, die man auch von innen anschauen konnte. Als wir aber dort ankamen und noch kurz ein Brot aßen, stellten wir fest, dass wir eventuell auch mal Lust auf was „anderes“ hätten. Aber auf was? Nach fast drei Monaten Reise und viel Zeit, sich die Natur genau anzuschauen, ist man doch irgendwann gesättigt. Wir beschlossen an diesem Tag kein Sightseeing zu machen und stattdessen ein SPA-Hotel aufzusuchen, also mal etwas komplett anderes zu unternehmen. 
</p>
<p>An diesem Tag redeten wir außerdem viel darüber, wie jeder von uns die Reise gerade wahrnimmt und woran wir das jetzt genau festmachen, dass es uns im Moment vielleicht ein wenig reicht. Wir haben für euch Mal unsere Gedanken zusammengefasst:
</p>
<b>Danys Sicht:</b>
<p>Nach fast drei Monaten des Umherreisens finde ich natürlich auch nicht immer alles gleich interessant, was wir erleben. Ein gewisses Sättigungsgefühl ist eingetreten und das hat meiner Meinung nach verschiedene Gründe. So haben wir beispielsweise schon viele Dinge des öfteren gesehen, sei es in der Natur oder in den Städten. Natürlich ist alles auf seine Weise einzigartig und schön, aber es ist dann letztendlich doch wieder eine Burg, ein Wald, ein See, ein altes Bauernhaus, ein Jugendstil-Gebäude ... Ich empfinde das vor allem so, seitdem wir die Mitte von Finnland passiert haben – also seit etwa vier Wochen. Seitdem hat sich die Landschaft nicht wesentlich verändert. Es oft die gleiche Szenerie, die wir sehen. Aber sie ist natürlich auch wunderschön: Die Natur zeigt sich über lange Strecken sehr viel ursprünglicher und ungezähmter als in Deutschland. Fairerweise muss man aber auch dazu sagen, dass in Deutschland viel mehr Menschen auf einem Raum leben als in den meisten Ländern, in denen wir bisher waren. 
</p>
<p>Ein weiterer Grund für diese Sättigung: Es fehlt die Abwechslung zum Reisen, so paradox es klingen mag. Anders ausgedrückt: der Alltag. Wobei ich da ganz deutlich unterscheiden muss. Was mir nicht fehlt ist eine Aufgabe „Montag bis Freitag, 8 bis 17 Uhr“. Ich kann mich schon ganz gut durch den Tag treiben lassen und den Moment genießen, auch nach drei Monaten noch ;-) Es geht eher darum, den Alltag mit Freunden und Familie zuhause zu erleben. Ich könnte es wahrscheinlich auch Heimweh nennen. Wenn wir mit den Leuten zuhause telefonieren oder mailen, geht es natürlich in erster Linie darum, wo wir gerade sind und was wir machen. Meist heißt es dann: „Ach, bei uns ist alles wie immer.“ Dabei interessiert mich gerade dieses „wie immer“. 
</p>
<p>Wir haben beide festgestellt, dass uns eigentlich die Menschen zuhause am meisten fehlen. Die Sprachbarriere beim Reisen verstärkt dieses Gefühl noch. Natürlich haben wir schon viele, sehr nette Leute kennen gelernt und es gibt immer jemanden, der deutsch oder englisch kann. Aber es bleibt halt häufig bei einem kurzen Smalltalk. 
</p>
<p>Ja, das sind mal ein wenig nachdenklichere Gedanken über unsere Reise. Ich finde das aber auch ganz interessant, denn ich hätte eher damit gerechnet, dass uns vielleicht das spartanische Leben auf engstem Raum zu schaffen macht. Aber auch da liegen wir auf einer Wellenlänge mit der Feststellung: Man braucht eigentlich nicht viel zum Leben! Luxusdinge (die ja für Deutsche eigentlich kein Luxus sind) wie fließend Wasser, eine große Küche oder Fernsehen sind wirklich entbehrlich. Was nicht heißen soll, dass ich mich nicht auf den Tag freue, wenn wir wieder täglich unsere eigene Dusche (mit heißem Wasser!) zur Verfügung haben ;-)
</p>
<p>Aber genug des Jammerns auf hohem Niveau! Im Grunde meines Herzens bin ich unendlich glücklich und dankbar, dass wir diese Reise machen können! Auch jetzt, nach fast drei Monaten, gibt es immer noch Momente, ich denen ich mir denke: „Einfach unglaublich, dass wir das tun!“ Und ich freue mich auf all die kleinen und großen Dinge, lauten und stillen Momente, die Marco und ich unterwegs noch sehen und erleben werden!
</p>
<b>Marcos Sicht:</b>
<p>Ich glaube, jeder Mensch tickt auf eine gewisse Art gleich: „Wenn man was zu lange oder immer hat, sehnt man sich nach Abwechslung“. Und nun bin ich ab und an genau an diesem Punkt angekommen. Die Frage, die ich mir aber dann oft stelle, ist: Was wäre denn genau diese besondere Abwechslung, denn eigentlich haben wir alles, was man sich wünschen kann. Wir sind zu zweit unterwegs und es gibt keinerlei Probleme zwischen uns. Uns sind auch noch nicht die Gesprächsthemen ausgegangen :-)
</p>
<p>Täglich in der Natur zu sein, ist der absolute Wahnsinn. Man bekommt einen anderen Bezug dazu und nimmt sie wesentlich intensiver wahr. Überall kann man was Neues entdecken. Aber was ist dann, das was fehlt?
</p>
<p>Also der Luxus des Alltages ist es definitiv nicht! Gemütlich im oder vor dem Büssli zu sitzen, mit den Töpfen auf einer einzigen Gasflamme zu rangieren und sich ab und an mal irgendwo den Kopf anzuschlagen ist kein Problem. Da denke ich dass der Mensch eher sein eigenes Zuhause braucht als ein großes Zuhause – und das haben wir ja.
</p>
<p>Der materielle Überfluss ist es auch nicht! Wir gehen schon oft in den Supermarkt einkaufen. Das liegt aber eher daran, dass wir den Kühlschrank nicht für eine einzige Packung Milch laufen lassen wollen. Auch hier wird man in den Läden vom Angebot überschüttet. Es gibt wirklich alles – aber wer braucht das schon? Wir suchen uns die Dinge, die am wenigsten Müll verursachen, wenig Aufwand bereiten, wenig Energie beim Kochen verschwenden und natürlich lecker schmecken!
</p>
<p>Ist es die Arbeit? Jeder, der mich genauer kennt, wird sagen: „Ja, das ist es bestimmt“. Und ich muss zugeben, dass ich froh bin das Notebook dabei zu haben, um mich auf dem Laufenden zu halten. Allerdings muss ich sagen, die Arbeit selbst vermisse ich absolut nicht – aber wer sehnt sich wirklich nach den politischen Kriegen des Berufslebens? Schon eher nach netten Kollegen und dem Anspruch, ein Problem zu lösen.
</p>
<p>Ist es die Stadt Nürnberg? Jeder Großstadt kann man schöne Dinge abgewinnen. Wir sitzen oft in größeren oder kleineren Städten in Cafes und genießen den Trubel. An diesem Punkt kann man feststellen, wir suchen ab und an nach anderen Menschen. Ich für mich persönlich konnte feststellen, ich vermisse meine Freunde! Klar kann man chatten und telefonieren – heutzutage auch tollerweise mit Bild, aber was fehlt ist einfach das reelle Gegenübersitzen. Sich mit Jörg in der Früh vor der Arbeit zum Frühstücken verabreden, mit Shari die Frühstückssemmel in der Kantine zu essen, von Ivan durch die Squashalle getrieben zu werden, mit Max, Uschi, Jörg und Miriam in der Fränkischen klettern zu gehen, kurz bei Freunden auf nen Kaffee vorbeizuschauen oder am Wochenende die Familie zu sehen. All das sind die Dinge die ich vermisse - einzig und allein die reellen sozialen Beziehungen! Ok ... und natürlich die Stichsäge, die Bohrmaschine, den Akkuschrauber, ..... :-D
</p>
<%= site.picasa.alben["2012-07-21-lettland"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-07-21-10-35-europa-lettland_R.small.gpx"></div></p>
