---
title: 'Like a local'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Estland, Europa, GPX, Karte, Reise, Route, Urlaub ]
---
<p class="where">11. Juli (Tallinn, Leesi)
</p>
<p>Nach einer sehr unruhigen Nacht auf dem Parkplatz machten wir uns sehr früh auf in die City. Die Hauptstraße hatte bei uns für Augenringe gesorgt und diese mussten erst mal mit viel Kaffee weggespült werden ... Unser erstes Ziel für heute war das moderne Stadtzentrum, in dem einige Hochhäuser und Einkaufszentren neben zahlreichen Cafe zu finden waren. Wir wollten eigentlich nur kurz nach einer kleinen Gaskartusche schauen und waren vom Konsum total erschlagen. Leider scheinen sich europaweit die Städte in dieser Hinsicht kaum zu unterscheiden. Überall sind die gleichen Marken zu finden: H&amp;M, Zara, Body-Shop und zahlreiche andere, die wir auch in der Nürnberger Innenstadt haben. Gaskartusche haben wir nicht bekommen, dafür aber eine estnische Telefonnummer. Für 4 Euro gibt es hier ne SIM mit 30-Tages-Flat. Wir wollten zwar erst probieren, ob es in Estland nicht auch ohne eigene SIM geht. Hier ist nämlich jedem Bürger der Zugriff auf ein kostenloses WLAN per Gesetz zugesichert! Allerdings bin ich dann doch zu faul, irgendwo auf dem Land nach dem Hot-Spot zu suchen. Für 4 Euro mache ich da gerne mehr Pause in der Pampa :-)
</p>
<p>Hier in Tallinn gibt es ein sehr nettes Konkurrenzprojekt zu den öffentlichen Touristeninformationen: <a href='http://www.likealocalguide.com '>likealocalguide.com</a>. Die jungen Studenten haben einen interessanten kleinen Stadtplan mit vielen Informationen für Backpacker erstellt. Ein wichtige Info war: Jeden Tag um 12 machen sie eine kostenlose Stadtführung – klar, dass man am Ende was spendet! Die Stadtführung war super! Ein junges, quirliges Mädel führte uns kreuz und quer durch die Stadt und erzählte uns eine Geschichte nach der anderen. Mit viel Witz und Gestik hielt sie uns fast 2,5 Stunden auf Trab. Danach wollten wir endlich mal die berühmten Pfannkuchen probieren, hatten aber leider Pech, weil sich das viele andere auch schon gedacht und eine Warteschlange im Eingangsbereich des Restaurants gebildet hatten.
</p>
<p>Sofort schoss uns das nette Cafe mit den leckeren Gebäckstücken in den Kopf und wir schlenderten gemütlich dort hin. Wie auch am Tag zuvor versumpften wir dort und planten nebenbei, wie weit wir an diesem Tag noch ungefähr fahren wollten. Der Lahemaa-Nationalpark steht als nächstes auf unserem Plan und wir beschlossen einfach nur noch aus der Stadt raus zu fahren, um diese Nacht wieder ohne Verkehrslärm in der Natur zu stehen. Ein paar Stunden später genossen wir dann auf unserem Klappsofa den Sonnenuntergang und ließen die witzigen Geschichten unseres Local-Guide Revue passieren.
</p>
<%= site.picasa.alben["2012-07-11-estland"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2012-07-11-09-44-europa-estland_R.small.gpx" style="width:763px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]</p>
