---
title: 'Dumm gelaufen bzw. gesegelt'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Deutschland, Europa, Reise, Urlaub ]
---
<p class="where">12. Mai (Stockholm)
</p>
<p>Da uns Stockholm schon am ersten Tag gefallen hat und es wirklich, wirklich viel dort zu sehen gibt, haben wir beschlossen, noch einen Tag dranzuhängen. Das Wetter war eh nicht so toll, und da passte es ganz gut, dass wir ins Museum wollten. Genauer gesagt ins Vasa-Museum, laut Reiseführer eines der am meist besuchten in ganz Skandinavien. Kann gut sein, muss aber nicht. War aber gut, und zwar sehr! Eigentlich wurde dort in erster Linie nur ein einziges, gut erhaltenes altes Schiff ausgestellt, die Vasa. Aber die Geschichte drumherum machte das Ganze sehr interessant. Schwedenkönig Gustav II Adolf wollte um 1630 für seinen Krieg gegen Polen das größte Kriegsschiff der damaligen Zeit bauen. Also ließ er kurzerhand auf das fast fertige Schiff noch ein Deck mit Kanonen einbauen. 70 Meter lang war dann die Vasa, 50 Meter hoch und hatte 60 Kanonen an Bord. 450 Mann Besatzung waren vorgesehen. Im August 1628 verließ das Kriegsschiff unter vollen Segeln den Stockholmer Hafen. Aber kam nicht weit. Nach wenigen Meilen bekam die Vasa schon bei leichten Wellengang Schlagseite, kippte aufgrund ihres zu hohen Gewichtes und sank. Ziemlich blöd gelaufen. Über 300 Jahre lag das Schiff auf den Hafengrund, bis es in den 1960er Jahren wieder entdeckt, sehr aufwändig geborgen und restauriert wurde. Auch wenn man nicht so sehr an Schiffen interessiert ist, ist dieses Museum, das quasi rund um die Vasa gebaut wurde, sehr sehenswert! Übrigens habe ich später am Tag noch im Reiseführer gelesen, dass derselbe Schwedenkönig einige Jahre später während einer Schlacht aufgrund seiner Kurzsichtigkeit aus Versehen in die feindlichen Linien geritten ist. Und das war dann auch sein Untergang.</p>
