---
title: 'Von 0 auf 600 ... Fjordspektukulär!'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Europa, GPX, Karte, Norwegen, Reise, Route, Urlaub ]
---
<pp class="where">25. Mai (Stavanger – Preikestolen – Jörpeland)
</p>
<p>Der Tag begann mit einem gemütlichen Stadtbummel durch Stavanger. Dort ist es wirklich sehr gemütlich mit Hafenbecken, Seeluft und vielen alten weißgestrichenen Holzhäusern. Stavanger gilt neben Oslo als die teuerste Stadt des Landes, weil hier das Geld, sprich das Öl liegt. Hier wird ein großer Teil von Norwegens Öl gefördert. Aber anders als erwartet, ist die Stadt keine schmutzige Industriestadt, sondern wirklich schnuckelig.
</p>
<p>Recht spontan beschlossen wir, noch am gleichen Tag eine der Touristenattraktionen an der Westküste zu besuchen: den Preikestolen (Predigtstuhl). Diese Felskanzel fällt senkrecht 600 Meter in den Lysefjord ab. Und wenn man sich oben auf dem Plateau ganz, ganz vorsichtig bis an den Rand robbt und drüber linst .... uiuiuui! Da wird’s einem echt anders. Nicht nur der Blick runter, sondern auch in den Fjord ist wirklich spektakulär! Und auch der etwa vierstündige Auf- und Abstieg ist zwar anstrengend, aber wirklich toll. Insofern ist dieses Naturwunder wirklich sehr sehenswert, auch wenn es natürlich sehr stark touristisch vermarktet wird. Für den Parkplatz am Fuße des Wanderwegs zahlt man als Motorradfahrer 30 norwegische Kronen, als Auto- oder Wohnmobilfahrer 100 Kronen (ca. 15 Euro) und, so haben wir das interpretiert, wenn man die Arschkarte gezogen hat 150 Kronen (siehe Fotos).
</p>
<%= site.picasa.alben["2012-05-29-norwegen"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-25-10-53-europa-norwegen_R.small.gpx"></div></p>
