---
title: 'Auf gehts ....'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Europa, Reise ]
---
<p class="where">29. April (Nürnberg)
</p>
<p>Samstag, 14 Uhr - pünktlich auf die Minute haben wir unsere Wohnung zur Übergabe fertig und die letzte Kiste im Bus verstaut. 14:30 - jetzt sind wir wohnungslos. Ein richtiges Bett besitzen wir jetzt nur noch hinter verschlossenen Türen. Jetzt geht es endlich los. Um 14:55 passieren wir das Ortsschild und verlassen Nürnberg. Heute wollen wir noch einmal in Ruppmansburg vorbei um uns von der Oma nochmal persönlich zu verabschieden - leider konnte sie nicht bei unserer Abschiedsfeier dabei sein ...
</p>
<%= site.picasa.alben["2012-04-29-reise-aufgehts"].get_picture_table %>
