---
title: 'Besuch in Kopenhagen'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Dänemark, Europa, Reise, Urlaub ]
---
<p class="where">4. Mai (Kopenhagen)
</p>
<p>Es ist eine der besten Entscheidungen gewesen, die Räder mitzunehmen! So sind wir doch relativ mobil, ohne immer den Bus (aufräumen und) bewegen zu müssen. Also auf dem Rad die 16 Kilometer nach Köbenhavn. Was haben wir dort alles gesehen? Natürlich die kleine Meerjungfrau! Und das dänische Königsschloss samt Wachablösung, leider aber kein Mitglied der Königsfamilie. Und ganz viele weitere Schlösser, Parks, Herrenhäuser, Kirchen und Kanäle. Auf dem Rückweg sind Marco und ich dann in den Sündenpfuhl von Kopenhagen "gestolpert", die Freistadt Christiania. Ein von Hippies und Aussteigern vor 30 Jahren besetztes ehemaliges Militärgelände. Ich weiß ja nicht, was ich mir da so genau drunter vorgestellt habe, aber das man dort an den Straßenständen ganz offen alles Mögliche zum Rauchen und was weiß ich was kaufen kann, sicher nicht. Sehr treffend heißt die Gegend dann auch "Green light District" und man wird höflich aufgefordert, nicht zu fotografieren und nicht zu rennen. Das könnte Panik unter den seeeehr entspannten Bewohnern auslösen
</p>
<p>;-)
</p>
<%= site.picasa.alben["2012-05-04-dk-kopenhagen"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-04-10-02-europa-daenemark-kopenhagen.gpx"></div></p>
