---
title: 'Fehlalarm – Technik, die begeistert'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Reise, Technik, Urlaub ]
---
<p>Heute Nacht war es mal soweit, die Sirene fängt das Pfeifen an ... Dany und ich sitzen senkrecht im Bett ... WAS NUN! Nachdem wir auf einem Campingplatz mitten in Stockholm stehen, war fast klar, das muss ein Fehlalarm sein. Ich hab dann einfach mal die Schiebetür aufgemacht und bin um den Bus geschlendert ... Nix los da draußen. War der Linseneintopf zu viel für den Gaswarner???? :-D
</p>
<p>Ansonsten ist die Technik im Bus ist echt TOP! Die verbauten Ladegeräte sorgen dafür dass der Bus immer gut mit Strom versorgt ist. Naja, das Einzige für das wir wirklich "viel" Strom brauchen ist der Kühlschrank, aber auch da haben wir beschlossen ihn mal abzuschalten, denke der wird erst wieder in wärmeren Ländern richtig nötig sein. Das GPS-Tracking funktioniert auch hervorragend, wie man an den Routenmitschnitten auf der Webseite sehen kann.
</p>
<p>Das Internet ist hier per UMTS der Hammer, da könnten sich die Deutschen echt mal ne Scheibe abschneiden. Latenz gibt es zwar ist aber sehr gering. HSDPA fast überall und die Geschwindigkeit ist durchgehend beeindruckend. Über die Tarife lässt sich nur schwer was in Erfahrung bringen, da alle Informationen auf Landessprache sind. Das versteht man halt nur gaaaaanz grob ... Nachdem ich eine Karte beim Supermarkt gekauft hatte, hab ich mal bei ner schwedischen Hotline angerufen .... ein Erlebnis für sich :-) "dryk dry" - das war das einzige was ich verstanden hatte und sollte wohl heißen: "Drück mal die drei". Als mich dann ein hilfsbereiter Schwede vollgequatsch hat konnten wir uns schnell auf Englisch einigen ;-)
</p>
<p>In Schweden kauft man sowas wie den „Global 100“-Tarif von <a href='http://www.tre.se/'>http://www.tre.se/</a> das funktioniert wie gesagt perfekt. Ein Tag Internetflat kostet dann 19kr – das sind ungefähr 2 Euro. Das ist ein TOP Preis, da das Internet der Campingplätze hier in Schweden zusätzlich Geld kostet und meist auch wesentlich mehr. Spitzenreiter war der Campingplatz in Eksjoe mit 100k (12 Euro) für 24 Stunden.
</p>
<p>Für Norwegen hab ich schon mal geschaut, da gibt es was Ähnliches. <a href='https://www.chess.no/kontantkort/'>https://www.chess.no/kontantkort/</a> - ob und wie das funktioniert wird man sehen.</p>
