---
title: 'Wo sind all die jungen Menschen hin?'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Norwegen, Reise, Urlaub ]
---
<p>Heute stehen wir wieder mal auf einem Campingplatz. Wäsche waschen, duschen und mal ein „besseres“ Internet nutzen.
</p>
<p>Am Abend schauten wir uns dann noch ein bisschen auf dem Campingplatz um und stellten fest: WOW – wir sind ECHT jung!!! Und auf einmal stellten wir fest: Wir haben seit Oslo keine Reisenden mehr in unserem Alter gesehen. Auch im Alter unserer Eltern. Eher so in dem Segment unserer Großeltern. Wir sind aber auf ein paar seltene Exemplare der „Junggebliebenen“ gestoßen ... so wollen wir auf jeden Fall später auch noch herumrumreisen! Was wir uns dann dabei hoffentlich nicht angewöhnen, ist das ständige Nörgeln der deutschen Rentner. Entweder ist alles zu teuer, der Fisch springt nicht von alleine auf den Teller, das Wetter könnte besser sein, die Gehsteige und Straßen sind in einem sehr schlechten Zustand oder der Campingplatz ist eher was für Junge ... aber wo sind die nur :-)
</p>
<p>Das krasseste Exemplar ist mit einem vor kurzem gebrochenen Fuß aus dem Thermalbad in Ungarn (wo sie den ganzen Winter sind) zum Angeln nach Norwegen gefahren ... er hat ja Tempomat :-D Rentner!!!</p>
