---
title: 'Wir lieben die Berge!'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Polen, Reise, Route, Urlaub ]
---
<p>5.-6. August (Zakopane)
</p>
<p>Für die kommenden Tage war laut Wetterbericht Gewitter und eher regnerisches Wetter angesagt. Zunächst für uns nicht weiter schlimm, denn wir wollten Krakau sowieso verlassen und hatten bereits einen Fahrt-Tag geplant. Zakopane hieß unsere nächste Station. Dieser beliebte Bergsport-Ort liegt im Süden Polens, an der Grenze zur Slowakei. Mit der Slowakei teilt sich Polen auch das dazugehörige Gebirge, die Hohe Tatra. Flächenmäßig ist es das kleinste Hochgebirge der Welt. Die Gipfel jedoch lassen sich mit zirka 2.500 Metern durchaus sehen! Hörte sich alles echt gut an für uns, vor allem, weil wir uns ja nach so vielen Kilometern Wald und Wiese endlich mal wieder nach Bergen sehnten!
</p>
<p>Auf der Fahrt wollte uns plötzlich eine Oma am Straßenrand anhalten und winkte uns heftig zu. Als wir näher kamen drehte sie sich aber leicht zur Seite und winkte uns weiter. Erst wussten wir nicht was das zu bedeuten hat, aber dann registrierten wir, dass hier die öffentlichen Busse die gleiche Farbe haben wie wir :-D Überall gelbe Busse ;-)
</p>
<p>Von den Bergen angezogen wurden aber nicht nur wir, denn auf dem Weg nach Zakopane war mal richtig viel los! Wir dachten zuerst, es müsse einen Unfall auf der zweispurigen Zufahrtsstraße gegeben haben. Aber nein, das war ganz normaler Sonntags- bzw. Urlaubsverkehr! Aber egal. Als wir die ersten Berggipfel vor uns auftauchen sahen, mussten wir gleich mal mit unseren Walkie-Talkies ins Wohnmobil von Nicole und Christian funken und ihnen unsere Freude mitteilen. Trotz viel Verkehr kamen wir gut am Campingplatz an und stellten gleich ganz begeistert fest, dass man auch von unserem Standort die Berge sehen konnte. Das Wetter war zwar ein wenig verhangen und diesig, aber von dem angekündigten Gewitter blieben wir glücklicherweise verschont. Ist ja auch kein Wunder, weil erstens hat Christian gutes Wetter für ihren Urlaub bestellt und zweitens essen wir immer schön unsere gut gefüllten Grillteller leer ;-)
</p>

<%= site.picasa.alben["2012-08-05-polen"].get_picture_table %>

<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-08-05-11-52-europa-polen_R.small.gpx">MAP</div></p>
<p>Abends hatten wir uns noch eine Wandertour für den nächsten Tag ausgesucht. Also hieß es heute: Wanderstiefel auspacken, Brotzeit vorbereiten und los! Die Sonne schien, das Wetter war einfach genial! Mit dem Bus fuhren wir nach Zakopane und von dort weiter nach Kusnice, einem kleinen Ort, an dem die meisten Wandertouren in die Hohe Tatra starteten. War schon gestern auf dem Weg mit dem Auto nach Zakopane viel los, wurde das hier noch einmal um Längen getoppt! Dutzende von Minibusen karrten im Minutentakt Leute herbei und die Schlange vor dem Sessellift war fast hundert Meter lang. Ok, auch die Polen haben wohl gerade Sommerferien. Den Lift ließen wir natürlich links liegen, denn wir wollten ja WANDERN! Auf den Wegen waren natürlich auch sehr, sehr viele Menschen unterwegs, aber die wunderschöne Landschaft entschädigte dafür. Wir waren wirklich im Hochgebirge, kurz unterhalb der Baumgrenze. An einer Berghütte auf einer Alm machten wir Rast, bevor wir uns langsam an den Abstieg machten. Und da sahen wir dann IHN! Mister Jägermeister persönlich. An einem Wegstück waren auf einmal einige Leute versammelt, die alle auf ein gegenüberliegendes Waldstück deuteten und dorthin fotografierten. Erst war uns nicht klar, was da sein sollte, doch dann sahen wir deutlich, dass dort ein riesiger Hirsch graste. Der ließ sich überhaupt nicht von den ganzen Menschen störten, guckte nur ab und zu rüber. Zwei junge polnische Mädels neben uns waren auch ganz begeistert von dem Tier und meinten immer wieder nur:  „Pompatyczny!“ Hört sich an wie polnische Version von „bombastisch“ und so etwas ähnliches meint es wohl auch. Die zwei sind voll abgebrochen, als Marco das Wort wiederholt hat und auf den Hirsch gedeutet hat. Mensch, wenn wir schon keinen Elch gesehen haben, dann wenigstens einen Hirsch.
</p>
<p>Auf dem Heimweg stellten wir dann erneut fest, dass Busfahren in Polen anders ist. Einen festen Zeitplan scheint es hier nicht zu geben und auch die Fahrtroute ist hier eher ... sagen wir mal .... flexibel. Jeder, der den Bus anhält (mit Handzeichen), diskutierte erstmal mit Busfahrer, wie er denn jetzt genau fahre und ob er nicht an diese oder jener Ecke anhalten könne. So interpretierten wir das jedenfalls. Unser Busfahrer selbst hat auch immer wieder Leute überredet, bei ihm einzusteigen, zum Beispiel eine ganze Gruppe Menschen, die eigentlich auf der gegenüberliegenden Straßenseite auf einen anderen Bus gewartet haben. Naja, das heißt dann halt mehr Geld für ihn. Sehr geschickt ;-)
</p>

<%= site.picasa.alben["2012-08-06-polen"].get_picture_table %>

<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-08-06-11-02-europa-polen_R.small.gpx">MAP</div></p>
