---
title: 'Ein sehr bedrückender Tag'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Europa, GPX, Karte, Polen, Reise, Route, Urlaub ]
---
<p class="where">4. August (Auschwitz)
</p>
<p>Für heute hatten wir uns für einen etwas bedrückenderen Programmpunkt auf unserer Reise ausgesucht. Wir wollten nach Auschwitz fahren und dort eine Führung durch das ehemalige Konzentrationslager machen. Schon kurz nach der Ankunft bekommt man ein sehr bedrückendes Gefühl – vor allem als Deutscher – und das obwohl an diesem Tag Hunderte von anderen Touristen mit uns dort waren und die Sonne vom Himmel brannte. Sobald wir das Gelände durch das Tor mit der zynischen Aufschrift „Arbeit macht frei“ betreten hatten, war uns nicht mehr nach Reden zumute. Über vier Stunden dauerte die Führung und manchmal hatte man das Gefühl, keine Luft mehr zu bekommen von all den grauenhaften Dingen, die wir dort gesehen und gehört haben. Es ist, glaube ich, der grausamste Ort, an dem ich bis jetzt in meinem Leben war. Und ich denke, das gilt auch für die anderen. Dieser Ort lässt sich nicht in Worte fassen. Davon kann sich jeder nur selbst ein Bild machen.
</p>
<%= site.picasa.alben["2012-08-04-polen"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-08-04-12-03-europa-polen_R.small.gpx"></div>
</p>
