---
title: 'Berchtesgaden Tag 1'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2011, Deutschland, Europa, Karte, Urlaub ]
---
<p>Heute ist es wieder mal soweit, nach einigen Neuerungen im Bus sollten diese auch mal in der Praxis getestet werden! Das Wichtigste für den Winter ist die funktionierende Standheizung und so haben wir uns entschlossen diese mal in den Bergen zu testen.
</p>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2011-12-02-10-09-berchtesgaden-01.compact.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p>Nach einer sehr gemütlichen Anreise ging es heute Abend mal auf den "Advent-Markt" in Berchtesgaden. Dort haben wir mal alle Glühweinsorten durchprobiert und die örtlichen Leckereien gesichtet. Nachdem es dann doch schon ganz schön angezogen hatte sind wir zurück zum Büssli geschlittert und haben erst mal die Standheizung auf "vollgas" gestellt</p>
