---
title: 'Die Heckt체ren'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2011, Busausbau, Technik ]
---
<p>Damit auch von hinten keine K채lte und L채rm in den Bus kommt sind werden auch diese noch verkleidet.
</p>
<p>Und dann noch die Hartfaserplatte dr체ber ....
</p>
<table data-title='2011-08-11-busausbau'>
<tr>
<td><a><img src='../../../../posts/assets/2011-08-11-busausbau/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2011-08-11-busausbau/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2011-08-11-busausbau/3.jpg'/></a></td>
</tr>
</table>
