---
title: 'Berchtesgaden Tag 2'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2011, Deutschland, Europa, Karte, Urlaub ]
---
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2011-12-03-11-00-berchtesgaden-02.compact.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2011-12-03-11-37-berchtesgaden-02.compact.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
