---
title: 'Endlich fertig isoliert ...'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2011, Busausbau, Technik ]
---
<p>Nach 3 Packungen "ITCHY-WOOL", einigen Quadratmetern X-trem-Isolator und den 3mm Hartfaserplatten ging die Isolieraktion am Wochenende endlich dem Ende entgegen. Dany hat noch die Radkästen proffesionell mit Isolator verklebt und ich die Seitentür ausgestopft.
</p>
<table data-title='2011-07-21-busausbau-isolation'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2011-07-21-busausbau-isolation/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2011-07-21-busausbau-isolation/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2011-07-21-busausbau-isolation/3.jpg'/></a></td>
</tr>
</table>
<p>Ab Mittwoch hab ich mal ein paar Tage Busurlaub in dem wir dann hoffentlich das Projekt abschließen.</p>
