---
title: 'Die erste kleine Ausfahrt ...'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2011, Busausbau, Technik ]
---
<p>Nachdem wir heute spontan noch ein provesorisches Bett eingebaut haben mussten wir das natürlich auch gleich in freier Wildbahn testen.
</p>
<table data-title='2011-04-24-ostern'>
<tr>
<td><a><img src='/posts/assets/2011-04-24-ostern/1.jpg'/></a></td>
<td><a><img src='/posts/assets/2011-04-24-ostern/2.jpg'/></a></td>
<td><a><img src='/posts/assets/2011-04-24-ostern/3.jpg'/></a></td>
</tr>
</table>
