---
title: 'Kroatien Tag 2'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2011, Europa, Karte, Kroatien, Urlaub ]
---
<p><div class="map" gpx="/gpx/2011-09-04-13-58-kroatien-02.compact.gpx"></div>
</p>
