---
title: 'Wenn Träume wahr werden ....'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2011, Busausbau ]
---
<p>Heute war es endlich soweit. Wir machen Ernst. Der Bus ist ausgesucht und die Pläne fest geschmiedet. Jetzt muss er nur noch passen. Nach einer ersten Besichtigung ging es ab zur Dekra um ihn auch technisch unter die Lupe nehmen zu lassen - Fazit: PASST! Bremsen komplett neu, kaum Rost, Lichter und sonstige Dinge sind auch alle in einem super Zustand. Motor schnurrt ohne Auffälligkeiten, mehr kann man da ja immer leider nicht dazu sagen. Zurück zum Händler, zahlen und ab nach Hause ....
</p>
<table data-title='2011-04-16-bus-kauf'>
<tr>
<td><a><img src='../../../../posts/assets/2011-04-16-bus-kauf/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2011-04-16-bus-kauf/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2011-04-16-bus-kauf/3.jpg'/></a></td>
</tr>
</table>
