---
title: 'Und nochmal von vorne ...'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2011, Busausbau, Technik ]
---
<p>Nachdem wir jetzt unseren profesorischen Ausbau einige Wochen getestet haben, die Sitz-/Bettkonstruktion super funktioniert hat und die Fenster den wochenlangen Regentest bestanden haben soll das Buessli jetzt endlich innen weiter ausgebaut werden. Dafür haben wir noch einmal alles innen herausgerissen.
</p>
<table data-title='2011-05-24-busausbau'>
<tr>
<td><a><img src='/posts/assets/2011-05-24-busausbau/1.jpg'/></a></td>
<td><a><img src='/posts/assets/2011-05-24-busausbau/2.jpg'/></a></td>
<td><a><img src='/posts/assets/2011-05-24-busausbau/3.jpg'/></a></td>
</tr>
</table>
