---
title: 'Kroatien Tag 12'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2011, Europa, Karte, Kroatien, Urlaub ]
---
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2011-09-14-11-32-kroatien-12.compact.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p>[shashin type="albumphotos" id="3" columns="5"]
</p>
