---
title: 'Und so feiert man hier das Mittsommernachtsfest ...'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Finnland, GPX, Karte, Reise, Route, Urlaub ]
---
<p>22. – 23. Juni (Ivalo, Sodankylä, Yli-Nampa)
</p>
<p>Als wir heute die Augen aufmachten, konnte man das Regengeräusch, das die letzten 2 Tage durchgehend zu vernehmen war, nicht mehr hören! Die Sonne spitzte auch ab und an mal durch den recht grauen Himmel und wir freuten uns, dass wir doch noch zu dem in der Nähe liegenden Aussichtspunkt wandern konnten. Vom Campingplatzbesitzer erhielten wir noch eine Einweisung, wie man den Mücken in Finnland aus dem Weg gehen kann: Immer Seen mit Fischen wählen – die fressen nämlich die Mücken – und auf keinen Fall an einer Straße halten, wo rechts und links das Wasser steht. Komisch, bis jetzt hatten wir noch gar keine Mücken gesehen.
</p>
<p>Wir wanderten zum Aussichtspunkt, an dem es zugleich eine kleinen Wildpark und ein Museum gab. Am Eingang sah das Ganze allerdings aus wie ein Schrottplatz, da dort auch ein Panzer und ein Flugzeugheck aus der 2. Weltkrieg „ausgestellt“ war. Ein kleines Stück bergab hatten wir dann einen sehr schönen Blick über den Inari-See – ein See größer als der Bodensee mit über 3000 Inseln.
</p>
<table data-title='2012-06-22-norwegen'>
<tbody>
<tr>
<td><a><img alt='' src='/posts/assets/2012-06-22-norwegen/2.jpg'/></a></td>
<td><a><img alt='' src='/posts/assets/2012-06-22-norwegen/3.jpg'/></a></td>
<td><a><img alt='' src='/posts/assets/2012-06-22-norwegen/4.jpg'/></a></td>
</tr>
</tbody>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-06-22-10-06-europa-finnland_R.small.gpx" style="width:763px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p>In Inari selbst wurde unsere Hoffnung dann leider zunichte gemacht, dass wir dort am Abend etwas Traditionelles zum Mittsommerfest erleben könnten. Im Hotel waren ein paar Bands angesagt, aber kein Mitsommernachtsfeuer :-( Kurzentschlossen fuhren wir wieder zurück nach Ivalo ,weil wir dort angeblich wenigstens ein traditionelles Feuer sehen konnten. Die Sonne schien in vollen Zügen und wir besichtigten auf dem Weg dorthin noch eine Bärenhöhle, die als Sehenswürdigkeit stark beworben wurde. Man merkt schon, dass in dieser Region die kleinen Dinge ein bisschen hervorgehoben werden müssen. Denn so viele spektakuläre Sehenswürdigkeiten wie in Norwegen gibt es hier in Finnisch-Lappland wohl nicht. Nach der Bärenhöhle kochten wir uns noch einen leckeren Eintopf, bevor wir zum Hotel Kulthippu in Ivalo fuhren, wo es ein offizielles Mittsommernachtsfeuer geben sollte.
</p>
<p>Dort angekommen war genau NIEMAND zu sehen :-( Wir fragten im Hotel nach und der Mann an der Theke meinte „After nine!“. Ein Blick auf die Uhr zeigte 19:30 – PUH, was nun mit dem angefangenen Abend? Uns fiel der noch offene Supermarkt auf und wir beschlossen bis zum Anzünden des Feuers noch eine Bierprobe durchzuführen. „Dann machen wir halt unser eigenes Fest“, dachten wir uns und liefen mit einem Lächeln zum Supermarkt!
</p>
<p>7 Dosen Bier (mit und ohne %) und ne Tüte Chips – das sollte unser Mitsommernachtsfest werden. Wir saßen dann gemütlich im Bus auf dem Parkplatz und warteten. Tatsächlich – ab 20:45 kamen doch ein paar Menschen, wer hätte denn damit noch gerechnet??? Das Feuer wurde pünktlich um 21:00 angezündet. Als aber eine Viertelstunde später der Aufbau der Hölzer nicht hielt und einige Stämme umfielen, ging die Hälfte der zirka 100 Zuschauer auch schon wieder. Nach weiteren 15 Minuten standen Dany und ich alleine am „traditionellen“ Feuer. Ah ja! So hatten wir uns das irgendwie nicht vorgestellt. Aber 21:45 osteuropäische Zeit bedeutet an diesem Tag auch: Das Deutschland-EM-Spiel beginnt!!! Wir liefen also zurück zum Bus, machten uns ein neues alkoholfreies Bier auf (wir wollten dann ja noch ein Stück weiterfahren) und schauten das Spiel an. Währenddessen sahen wir den Jugendlichen zu, wie sie mit ihren getunten Autos permanent durch die ausgestorbene Stadt fuhren.
</p>
<p>Fazit am Mittsommernachts-Freitag: Wer ein richtiges Mitsommernachtsfest erleben will, sollte auf keinen Fall nach Lappland fahren!!!
</p>
<p>Am Samstag sollte es noch eine Chance für uns geben, eventuell was Spezielles für Mittsommer zu erleben. Wir beschlossen, die doch recht menschenleere Gegend zu verlassen und weiter Richtung Süden zu fahren. „Menschenleer“ bedeutet hier übrigens, dass es auf einem Gebiet so groß wie Bayern mehr Rentiere als Menschen gibt!!! „Sodankylä“ so heißt der nächste wirklich größere Ort seit der norwegischen Grenze. Als wir dort ankamen, fragten wir an der Tankstelle, ob hier heute was Besonderes geboten sei. Das entschlossene „NO“ war eindeutig. Fazit am Mittsommernachts-Samstag: Hier in Lappland ist echt der Hund begraben.
</p>
<p>Unsere gemütlichen Pausen wurden heute auch zum ersten Mal durch die Millionen von Mücken gesprengt, die während des Regens scheinbar tagelang in ihrem trockenen Versteck saßen und nun mächtig Hunger hatten. Ich erinnerte mich an den Spruch des Campingplatzbesitzers und dachte mir: „Aber wo will man denn hier hin fahren, außer an der Straße entlang“. Wenn man sich die Landkarte von Lappland nämlich genauer ansieht, merkt man, da gibt es eine einzige Straße, die fast kerzengerade durchsticht, und sonst NICHTS :-) Am Ende wurden wir doch noch fündig – ein kleines Schild „Kapelli“ zeigte in einen Schotterweg. Wir fuhren einen kleinen Hügel hinauf und stellten das Büssli auf 200 Höhenmetern mit einem perfekten Panorama über unendliche Wälder ab. Ab und an kam ein Rentier vorbei und nachdem es hier oben auch keine Wasserlöcher gab, gab es auch keine Stechmücken. Dafür aber tausende winzige kleine, schwarze Kriebelmücken, die zuhauf vor deinem Gesicht rumschwirren. Das führte dazu dass wir trotz Sonnenschein den Abend lieber im Bus verbrachten.
</p>
<table data-title='2012-06-23-norwegen'>
<tbody>
<tr>
<td><a><img alt='' src='/posts/assets/2012-06-23-norwegen/1.jpg'/></a></td>
<td><a><img alt='' src='/posts/assets/2012-06-23-norwegen/2.jpg'/></a></td>
<td><a><img alt='' src='/posts/assets/2012-06-23-norwegen/3.jpg'/></a></td>
</tr>
</tbody>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-06-23-11-27-europa-finnland_R.small.gpx" style="width:763px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<strong>NACHTRAG!!!!!</strong> Also das mit den „Hier oben gibt es keine Stechmücken“ nehmen wir komplett zurück!!! Als wir ankamen gab es keine Stechmücken, doch als wir dann später nochmal draußen waren haben sie uns fast aufgefressen. Die Fliegennetze an den Fenstern sind absolut Gold wert. Nachdem es nachts noch heftiger kam und sich ein paar irgendwie reingeschmuggelt haben werden wir jetzt unseren Joker, den Dany und Irmgard uns genäht haben zum Einsatz bringen. Ein zusätzliches Innenfliegennetz das wir mit Druckknöpfen über unserem Bett aufhängen können! Nichts desto trotz war es das für uns mit Lappland! Wenn man auf die offizielle Webseite <a href='http://www.visitfinland.com/de/lappland/'>visitfinland.com</a> schaut, dann kann man schon erkennen daß sie auf ihren Sommer nicht so ganz stolz sind .... sie schreiben man kann zwar auch was im Sommer machen, aber eigentlich ist es ein echtes Winter-Wunderland! Und jetzt geht’s ab zum Weihnachtsmann ....
