---
title: 'Aus dem Fiskars-Messer wird ein „Fisch“-kar-Messer  '
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Norwegen, Reise, Route, Urlaub ]
---
<p>(26. – 28. Mai) Jörpeland – Sudalsosen – Odda – Granvin
</p>
<p>Nach unserem Besuch des spektakulären Preikestolen hat die nächste Natursehenswürdigkeit nicht lange auf sich warten lassen.
</p>
<table data-title='2012-05-29-norwegen'>
<tr>
<td><a><img src='/posts/assets/2012-05-26-norwegen/1.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-05-26-norwegen/2.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-05-26-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-05-26-11-58-europa-norwegen_R.small.gpx"></div>
</p>
<p>Zwei Tage später sind wir zur Gletscherzunge Buarbreen hochgelaufen, welche die Ausläufer des Folgefonna-Gletschers markiert. Da ging es über Stock und Stein, wacklige Brücken, mit Seilen über Felsplatten und ein Schneefeld. Der Anblick der Gletscherzunge war wirklich toll! So viel Eis und Schneemassen. Und was wir gesehen haben, war ja nur ein ganz kleiner Teil des riesigen Berges. Oben gab’s dann eine schöne Bergbrotzeit für uns mit Bratwurstgehäck aus der Dose! Ja, unsere Vorräte aus Deutschland reichen immer noch. Den krönenden Abschluss bildeten dann Uschis Wanderkekse, die leider jetzt leer sind ... einfach zuuuu lecker, diese Energiekugeln.
</p>
<p>Auf dem Weg zum Gletscher haben wir übrigens auch einen der sehr zahlreichen großen Wassserfälle besichtigt, den Latefoss. Der stürzt sich 165 Meter in die Tiefe, der Hund. Damit haben wir nun in Norwegen ein oder mehrere Exemplare der vier interessanten F’s gesehen: Fjord, Fjell, Foss (Wasserfall) und Fonn (Gletscher). Eigentlich sind es ja fünf F, denn Fisch gehört natürlich auch dazu und da leite ich jetzt mal über an Marco ;-)
</p>
<p>Tja, endlich!!! Ein Fisch! ... oder auch 2 ... Nach der Gletschertour haben wir spät Nachmittags noch auf einem Parkplatz am  Sörfjord angehalten, um uns mal einen Kaffee zu kochen. Dort haben auch ein paar Leute geangelt. Also hab ich direkt mal unser Angelset wieder in Betrieb genommen. Manche Fische konnte man direkt sehen wie sie dem Köder hinterhergeschwommen sind ... echt cool!
</p>
<p>Dann kam auf einmal noch ein französisches Rentnerpaar auf den Parkplatz. Der Opi war echt ganz lässig, konnte aber nur französisch. Als er mir dann mit Händen und Füßen erklärt hat, dass mein Köder hier nicht taugt, meinte er „Er angelt mal neben mir ...“ Auf anraten von Opi hab ich mir dann mal einen anderen Köder montiert und auf einmal ruft er ich soll her kommen ... naja eigentlich wollte ich ihn doch selber fangen, aber er meinte das sei jetzt unserer.
</p>
<p>30cm – Dany und ich schauten uns an .... okay, das Ding nehmen wir jetzt mal aus! Ging eigentlich leichter als gedacht, allerdings ist das Zeug am Kopf doch fester als gedacht. Sah am Ende nicht so professionell aus, aber auf dem Grill hat der Fisch suuuuuper ausgesehen!! Und sooooooo lecker!!!!
</p>
<p>Nachdem das so einfach war mit dem Fisch dachte ich ... jetzt muss ich das nochmal selbst probieren. Allerdings musste ich noch die 2. Angel vorbereiten, weil die Monoschnur auf der ersten deutlich zu schwach für diese Region ist.
</p>
<p>Und dann rief Opi schon wieder .... „Frau!!! Bring den Kescher!!!!“ 2 Minuten später hat er den MEGA-Fisch neben uns auf den Boden gelegt .... „Für euch!“
</p>
<p>Ich glaub seine Frau war das ziemlich recht, weil das Ding ca 60cm hatte. Also, wieder Messer raus und wieder ab an den kleinen Wasserfall. Das Ausnehmen hab ich jetzt drauf ... ohne Frage. Ging schnell und sah auch professioneller aus ;-) Opi hat das am Ende noch mit einem „tres correct“ abgenommen.
</p>
<p>Ach ja, nach all dem „Stress“ hab ich dann noch eine Liste geschrieben bekommen, was ich als Angelequipment für hier unbedingt brauche. Mit dem Zeug was ich dabei hab geht da am Meer angeblich nix .... Am Dienstag wird erst mal eingekauft!!!! :-D
</p>
<p>Jetzt gibt es natürlich neue Probleme ... wo grillt man denn so ein rießen Fisch .... und isst man den auf einmal???? Wird der schlecht????
</p>
<table data-title='2012-05-27-norwegen'>
<tr>
<td><a><img src='/posts/assets/2012-05-27-norwegen/1.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-05-27-norwegen/2.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-05-27-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-05-27-08-47-europa-norwegen_R.small.gpx"></div>
</p>
<p>Am nächsten Tag haben erst mal wenig gefrühstückt, damit wir nachmittags auch gescheit Hunger haben wenn wir das Monster aus dem Kühlschrank holen.
</p>
<p>Nachdem wir dann einen der bekanntesten Wasserfälle in Norwegen am Hadangervidda besucht haben wollten wir den Fisch eigentlich auf der Hochebene grillen. Das musste aber wegen Schnee ins Tal verlegt werden. Wir haben dann beschlossen uns den kompletten Fisch ohne Beilage zu „gönnen“.
</p>
<p>Fazit: „seeeeehr lecker“ ... aber Fisch brauchen wir gerade erst mal nicht mehr :-D
</p>
<table data-title='2012-05-28-norwegen'>
<tr>
<td><a><img src='/posts/assets/2012-05-28-norwegen/1.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-05-28-norwegen/2.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-05-28-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-05-28-10-05-europa-norwegen_R.small.gpx"></div></p>
