---
title: 'Edel speisen im „Polnischen Hof“'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Polen, Reise, Route, Urlaub ]
---
<p>1. August (Breslau)
</p>
<p>Bei einem langen, ausgedehnten Campingfrühstück haben wir erst einmal unsere gemeinsame Tour geplant. Die nächsten zwei Wochen sind wir ja zu viert unterwegs. Naja, keiner will Stress. Deswegen haben wir eigentlich nur ein paar grobe Eckpunkte festgelegt. Der Rest kommt gaaanz langsam und gemütlich auf uns zu. Bevor wir weiterfahren nach Krakau, wollten wir aber die Stadt Breslau unter die Lupe nehmen. Mit den Rädern radelten wir zu viert Richtung Innenstadt. Es gab hier sogar einen offiziellen einen Radweg mit Schildern, wie man sie aus Deutschland kennt. So etwas haben wir schon länger nicht mehr gesehen :-) Nach 15 bis 20 Minuten Fahrt ketteten wir unsere Räder an einen Fahrradständer und schlenderten gemütlich durch die Altstadt. Es gibt einen schön angelegten großen Marktplatz mit einem großen Rathaus in der Mitte und viele kleine Gässchen, durch die man durchlaufen kann. Außerdem gibt es mehrere von der Odra umgebene Inseln, auf denen unter anderem der Dom zu besichtigen ist. 
</p>
<p>Verglichen mit anderen größeren Städten im Osten, die wir besichtigt haben, würde ich sagen, ist Breslau eher unspektakulär und ein Tagesausflug durchaus ausreichend. Ok, fairer Weise muss man auch dazu sagen, mit Freunden unterwegs zu sein verändert vielleicht auch die Wahrnehmung. Man hat sich einfach nebenbei viel zu erzählen und übersieht dadurch Einiges. Aber egal, wir genossen es einfach, nach über drei Monaten sehr gute Freunde von uns zu treffen und sich auszutauschen!
</p>
<p>Gegen Abend wollten wir uns ein nettes Lokal suchen. Wir hatten natürlich vor, nicht in ein ganz typisches Touristenrestaurant zu gehen. Schließlich entschieden wir uns für ein kleines, nett aussehendes Hinterhofrestaurant in einer Querstraße zum ganzen Trubel. Nach kurzer Zeit stellten wir aber fest, man kann durch das Restaurant durchgehen und steht dann ... mitten auf dem Marktplatz! Wir waren ohne es zu ahnen, im „Polnischen Hof“ gelandet, einem der größten, ältesten und natürlich vor allem auch bei Touristen sehr beliebten Restaurant. Das Essen war dann auch für polnische Verhältnisse ein wenig teurer, aber wirklich lecker! Wir aßen uns sozusagen durch die polnische Speisekarte und machten wieder einige neue Entdeckungen. Zum Beispiel Bigos, eine Art Eintopf aus angebratenem Kraut, Fleisch, Wurst und Pilzen. Oder eine sehr erfrischende kalte Suppe aus Roter Beete und Sauerrahm, namens Chlodnik Auch bekannt als Borschtsch. Hier testen wir auch zum ersten mal die typischen Piroggen (Teigtaschen), die es in den unterschiedlichsten Varianten mit verschiedenen Füllungen gibt. Gut gefüllt verließen wir das Restaurant durch den vorderen Eingang und stellten im Empfangsbereich fest: „WOW, hier waren ja schon mal viele berühmte Personen!“ Unter anderem Helmut Kohl, Nick Cave und Königin Beatrix. Wir haben natürlich auch Fotos von uns beim Essen gemacht, aber ich glaube nicht, dass wir auf der „Wall of Fame“ landen. Zurück am Campingplatz hieß es dann wieder bis in die Nacht: Quatschen, Quatschen, Quatschen .... 
</p>
<table data-title='2012-08-01-polen'>
<tr>
<td><a><img src='/posts/assets/2012-08-01-polen/1.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-08-01-polen/2.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-08-01-polen/3.jpg'/></a></td>
</tr>
</table>
