---
title: 'Vor lauter Bäumen sieht man den Wald nicht mehr ...'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, Finnland, GPX, Norwegen, Reise, Route, Urlaub ]
---
<p>19. – 20. Juni (Nordkap - Inari)
</p>
<p>Unser Tag am Nordkap begann, fast wie der Wetterbericht es vorhergesagt hat, im Nebel. Da haben wir ja echt noch mal Glück gehabt, denn man sieht fast nichts wenn man aus dem Fenster schaut. Glück haben auch unsere Nachbarn gehabt – Langzeitreisende, die wir gestern Abend noch kennengelernt haben. Ihr Hund ging leider auf der Wanderung verloren, weil er irgendwelchen Tieren hinterhergejagt hat. Nach 9 Stunden kam der arme Kerl unterkühlt und entkräftet wieder bei ihrem Bus an. Ich musste gleich mal schauen, ob es da nicht eine technische Lösung gibt und siehe da: „GPS-Tracking-Halsband“. Wenn man wissen will, wo der Hund ist, ruft man das Halsband an und es schickt eine SMS mit der Koordinate zurück. Sollte man als Hundebesitzer echt mal drüber nachdenken ....
</p>
<p>Wir machten uns auf in den Süden und fahren so langsam Richtung Finnland. In einem kleinen Fjord habe ich dann noch meinen obligatorischen Nordkap-Dorsch gefangen. Eigentlich wollte ich den direkt am Kap fangen, aber da war viel zu heftiger Seegang. Das wird für die nächste Zeit dann auch unser letzter Nordseefisch sein, denn an die Nordsee kommen wir jetzt nicht mehr auf unserer Reise. Heute wollen wir unbedingt wieder mal einen Campingplatz suchen, denn ich bin immer noch nicht in den Genuss einer Sauna im hohen Norden gekommen. Auf dem Weg dorthin halten wir spontan noch an einer Sehenswürdigkeit an: Versteinerte Trolle, die angeblich eine Kiste Gold an diesem Platz versteckt haben. Nachdem viele vor uns nicht fündig geworden sind, bleibt auch für uns der große Reichtum aus :-( 
</p>
<table data-title='2012-06-19-norwegen'>
<tr>
<td><a><img src='../../../../posts/assets/2012-06-19-norwegen/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-06-19-norwegen/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-06-19-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-06-19-11-35-europa-norwegen_R.small.gpx"></div>
</p>
<p>In strömendem Regen sind wir dann am Campingplatz angekommen. Eine ältere Dame meinte, hier regnet es schon seit Tagen ... verdammt, wären wir doch im sonnigen Westen geblieben! Dafür gab es einen sehr schönen Aufenthaltsraum mit Küche. Wir machten uns mal so richtig breit – ab und an hat so ein großzügiger Wohnraum doch was! Duschen ist hier auch umsonst (kostet sonst immer 10 Kronen extra), das muss man ausnutzen.
</p>
<p>Die Landschaft verändert sich stetig – immer mehr Bäume stehen an der Straße.
</p>
<p>Kurz vor der finnischen Grenze erreichen wir noch ein Samenzentrum. Hört sich komisch an, ist aber eine Ausstellung über die Ureinwohner hier, die heißen nämlich „Samen“. Nach einem kurzen Aufenthalt geht es wieder weiter – natürlich im Regen. Ob das heute nochmal besser wird? Wir erreichen die finnische Grenze – also die Grenze zur EU. Als wir von Schweden nach Norwegen über die Grenze gefahren sind, haben wir nicht mal gemerkt, dass da eine Grenze war. Heute sah das anders aus – Grenzhäuschen, mehrere Fahrspuren, Schranken und Zollstelle. Wir mussten zwar nicht halten, aber so kennt man einen Grenzübergang.
</p>
<p>In Finnland fahren wir Kilometer um Kilometer, kein Haus, keine Straße, die mal abzweigt. Links und Rechts sind nur hunderte von Seen oder Sumpf mit endlos vielen Bäumen. Wenn man über die gewellte, kerzengerade Straße fährt und ab und an mal ein bisschen höher ist, stellt man fest ... überall Bäume, nichts als Bäume – also ein einziger, nicht endender Wald. 
</p>
<p>Die erste größere Stadt auf unserer Karte ist Inari. Dort gibt es einen See, der doppelt so groß ist wie der Bodensee. In der Stadt wollte ich direkt mal im Supermarkt nach unserer Handykarte schauen – wer weiß, wann wir in der nächsten „größeren“ Stadt sind. Im Supermarkt meinte man nur – hier gibt’s das nicht. Da müssen wir noch 50 km fahren. Danach stellten wir fest, dass diese Stadt aus 500 Einwohnern besteht :-) 
</p>
<p>Nachdem wir gelernt haben, dass unsere beliebten Fiskeplats-/Badsplats- Schilder aus Norwegen und Schweden hier nun „Veneenlaskupaikka“ heißen, wissen wir auch, wo man zu einem schönen Übernachtungsplatz kommt.
</p>
<p>Jetzt stehen wir wieder an einem verträumten See und der Regen hat auch aufgehört. Draußen sitzen wollen wir bei 8 Grad aber gerade trotzdem nicht :-D
</p>
<p><div class="map" gpx="/gpx/2012-06-20-09-31-europa-norwegen-finnland_R.small.gpx"></div>
</p>
