---
title: 'Das finnische Superlativ ...'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, Finnland, GPX, Karte, Reise, Route, Urlaub ]
---
<p>26. Juni (Hailuoto, Oulu)
</p>
<p>Nach unserem wunderschönen Abend am Meer mit Feuer, Grillen und Sonnenspektakel in der Nacht haben wir uns glaub ich jetzt komplett auf Finnland eingestellt. Bei Oulu gibt es die größte finnische Insel in der Ostsee, die mit großen Sandstränden sehr sehenswert sein soll. Gut gelaunt machten wir uns nach unserem Frühstück auf den Weg. Wir folgten unserer gestrigen Radstrecke und kamen schließlich wieder zurück auf Hauptverbindungsstraße nach Oulu. 80 km bis zur Fähre zeigte das Navi an und wir rätselten ständig ob die 35 Minuten Fährfahrt nach Hailuoto wirklich kostenlos sei – so stand es nämlich im Reiseführer. Kurz vor der Fähre schauten wir deshalb in einen Kiosk und störten den jungen, dynamischen Kerl beim Surfen im Internet :-) Wir fragten nach der Fähre und er schaute uns ganz verständnislos an, als wir nach dem Preis fragten. Die Fähre war tatsächlich kostenlos. Tja, in Norwegen hätte man da jetzt 30 Euro gezahlt – ONE WAY.
</p>
<p>Was natürlich wesentlich spektakulärer wäre, wäre ein Besuch der Insel im Winter!!! Dann fahren nämlich alle mit den Autos über die zugefrorene Ostsee, kilometerweit nur über das dicke Eis. Sehr unheimliche Vorstellung, hätte ich aber gerne mal ausprobiert ;-)
</p>
<p>Die Insel ist sehr gemütlich und der größere Ort in der Mitte ist kaum als Ort zu erkennen, da die Häuser mitten im Wald und sehr verstreut stehen. Dort gibt es auch ein kleines Museum, in dem alte Häuser und die Lebensweise der Finnen dargestellt werden. Am Ende der Insel liegt ein Campingplatz am Sandstrand, auf dem wir an diesem Tag eigentlich übernachten wollten. Bei der Ankunft wurde uns aber schnell klar ... hier wird gerade massiv umgebaut! Wir parkten einen Kilometer entfernt an einem kleinen Hafen und fanden dort eine kostenlose Sauna mit Dusche. Perfekt! Unser Sandstrandspaziergang fiel danach dann leider dem Regen zum Opfer, aber so erreichten wir noch pünktlich die Fähre um uns einen schönen Platz kurz vor Oulu zu suchen. Dort werden wir morgen mal die Großstadt erkunden.
</p>
<table data-title='2012-06-26-finnland'>
<tr>
<td><a><img src='../../../../posts/assets/2012-06-26-finnland/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-06-26-finnland/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-06-26-finnland/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-06-26-10-42-europa-finnland_R.small.gpx"></div>
</p>
