---
title: 'Ein richtig schöner Sommerurlaub .... im Schnee'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Norwegen, Reise, Route, Urlaub ]
---
<p>2. Juni (Langdal, Trolstigen, Molde)
</p>
<p>Nach dem ereignisreichen gestrigen Tag haben wir abends noch beschlossen, den heutigen Tag mal gaaanz ruhig anzugehen und einfach mal ein paar Kilometer bis Molde zurückzulegen. Nach der Abfahrt – die heute endlich wieder mal bei strahlendem Sonnenschein stattfand – zog es sich auf dem Weg zum Trollstigen leider wieder ein bisschen zu. Der Trollstigen ist eine der Touristen-Straßen in Norwegen schlechthin, weil diese schmale Straße mit vielen Haarnadelkurven eine steile, hohe Felswand hinab- oder hinaufführt. Als wir am Scheitelpunkt ankamen und ein paar Fotos von den in der Sonne funkelnden Schneebergen zu machten, zog hinter uns auf einmal eine große Wolke über den Berg. Innerhalb von 5 Minuten standen wir im Scheegestöber und beschlossen dann doch lieber wieder bergab zu fahren. Unten im Tal regnete es nur noch. Unseren Plan ins Romsdal zu fahren, haben wir deshalb auch verworfen. Man sah sowieso nichts. Also machten wir uns direkt auf Richtung Molde. Kaum waren wir aus den Bergen ein bisschen raus war der Regen auch schon weg ... super!! Dann können wir ja mal wenigsten kurz die Angel auspacken und ne kleine Kaffeepause einlegen. Die ersten Versuche scheiterten – scheinbar kein Fisch hier. Im Internet hab ich mir dann beim einem leckeren Kaffee und unseren selbstkreierten Marmelade-Kartoffelfladen-Rolls diverse Tipps zum Fjordangeln herausgesucht.
</p>
<p>Das wollte ich doch gleich mal ausprobieren. Nach ein paar neuen Versuchen zuckte es an der Leine – das Abendessen war gesichert! Und was für eine Köstlichkeit – Dorsch ... den kannten wir schon und das ist angeblich einer der besten Fische, die man hier fangen kann .... mmmmhhhhh.
</p>
<p>Ausnehmen, ab ins Auto und dann wollten wir doch auch noch irgendwann nach Molde ☺
</p>
<p>Durch wechselhaftes Wetter fuhren wir die letzten Kilometer und drehten nach Ankunft erst mal die Markise raus, um einigermaßen im Trockenen zu stehen.
</p>
<table data-title='2012-06-02-norwegen'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-02-norwegen/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-02-norwegen/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-02-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-06-02-09-28-europa-norwegen_R.small.gpx"></div></p>
