---
title: 'Immer dieser Michel ...'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Reise, Route, Urlaub ]
---
<p>9. Mai (Vimmerby – Katthult – Eksjö)
</p>
<p>Dieser Tag ist ein eigener Eintrag wert, denn Kindheitsträume wurden wahr! In Vimmerby wurde Astrid Lindgren geboren und dementsprechend viel gab es dort zu sehen. Der Hof, auf dem sie aufgewachsen ist, ihr Elternhaus und einige Drehorte aus den Michel-und Pippi-Langstrumpf-Filmen in der Innenstadt. Der gleichnamige Freizeitpark hätte erst in drei Tage auf gemacht, aber ich weiß gar nicht, ob wir da soviel verpasst haben. Von Vimmerby sind wir dann natürlich noch nach Lönneberga, was aber ein wenig enttäuschend war. Das absolute Highlight dagegen war der Katthult-Hof in der Nähe! Dort wurden 1971/72 die Michel-Filme gedreht. Man kann sich echt sehr gut vorstellen, wie Michel (der in Schweden übrigens Emil heißt) von seiner Mutter über den Hof in den Schuppen gezerrt wurde. Und in den Wäldern ringsum sind Ronja Räubertochter und Birk Borkasohn entlang gestreift. Schööööön! ;-)
</p>
<table data-title='2012-05-09-schweden'>
<tr>
<td><a><img src='../../../../posts/assets/2012-05-09-schweden/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-05-09-schweden/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-05-09-schweden/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-05-09-09-52-europa-schweden-05.small.gpx" style="width:763px; height:350px; border:1px solid gray; margin-right:0px;margin-bottom:15px; float:left;"]&nbsp;</p>
