---
title: 'Schären-Hopping'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, Reise, Route, Urlaub ]
---
<p>13. – 14. Mai
</p>
<p>(Stockholm – Vettershaga – Saxbo)
</p>
<p>Nahe Stockholm ist die Schärenküste sehr ausgeprägt, für die Schweden auch sehr bekannt ist. Zwei Tage lang sind wir kreuz und quer an der Küste entlang gefahren und haben uns ... naja ... die großen Steine und Felsen im Wasser angeschaut. Aber im Ernst, die Küste dort ist wirklich sehr schön! Das finden natürlich auch die Schweden selbst, weshalb viele dort ein Häuschen haben. Was wiederum das Campen in freier Natur etwas schwieriger macht. Einmal wurden nun auf tatsächlich höflich aufgefordert, den „private parking place“ zu verlassen. Na, dann sind wir halt auf den public parking place zwei Meter weiter gefahren. Und währenddessen hat der Parkplatzbesitzer gleich eine Schranke vor seinen Platz einbetoniert. Aber in der Regel klappt das ganz gut, mit dem frei stehen. Ein guter Tipp sind immer Plätze an Badeseen, wie wir festgestellt haben. Da ist im Moment eh nie jemand, weil Baden ... das dauert noch leider!
</p>
<table data-title='2012-05-13-schweden'>
<tr>
<td><a><img src='../../../../posts/assets/2012-05-13-schweden/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-05-13-schweden/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-05-13-schweden/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-05-13-12-08-europa-schweden.small.gpx"></div>
</p>
<table data-title='2012-05-14-schweden'>
<tr>
<td><a><img src='../../../../posts/assets/2012-05-14-schweden/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-05-14-schweden/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-05-14-schweden/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-05-14-09-51-europa-schweden.small.gpx"></div></p>
