---
title: 'Ab nach Litauen'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Litauen, Reise, Urlaub ]
---
<p>24. Juli (Bauska, Tauragnai)
</p>
<p>Auf unserer Suche nach einem geeigneten Übernachtungsplatz für die letzte Nach in Lettland wurden wir schnell fündig. So viele Möglichkeiten gab es nämlich im Süden von Lettland nicht mehr. Wir peilten die letzte größere Stadt an und fuhren über eine kleinere Straße dort hin. Ach ja, kleinere Straße hier bedeutet immer: „Kann ab und an mal einem Feldweg ähneln und eine Teerschicht ist nicht unbedingt notwendig“. An einem kleinen Fluss hielten in einer Bucht neben der Schotterpiste. So viel Verkehr war auf dieser Straße ja nicht. Ab und an rauschte nur mal ein Jugendlicher mit seinem klapprigen Fahrzeug vorbei, denn schlechte Straßen heißt ja nicht zwangsläufig, dass man langsam fahren muss. :-D
</p>
<p>Am Morgen machten wir es uns erst mal zur Aufgabe, unser letztes lettisches Geld noch an den Mann zu bringen, bevor wir über die Grenze fahren. Tanken und Einkaufen und schon waren die letzten Lats umgesetzt. Die Überfahrt nach Litauen war, genauso wie an allen anderen Grenzen vorher, unspektakulär. Man sah allenfalls ein paar zusammengefallene, alte Grenzhäuschen. Die früheren Sonderspuren waren schon dick mit Gras bewachsen.
</p>
<p>Nach einigen Kilometern Fahrt auf Litauens Straßen stellten wir fest, dass es hier scheinbar ein besonderes Gesetz für den Verkehr gibt: „Überholen ist verpflichtend!“. Auch wenn jemand anders schon überholt, kann man den Überholenden überholen! Hier gibt es auch ein Verkehrsschild, das wir noch nie gesehen haben. Ein Hinweisschild mit einem großen schwarzen Punkt in der Mitte. Wir mutmaßten, dass es auf die vielen „Schwarzen Löcher“ auf der Straße hinweist, in denen wir schnell mal mit unserem ganzen Büssli verschwinden könnten. Es heißt aber lediglich „Achtung, Gefahr!“
</p>
<p>In Litauen angekommen besorgten wir uns natürlich erst mal eine neue SIM fürs Handy. Für 4,5 Euro mit 1GB Traffic ist das auch in diesem Land wesentlich günstiger als in Deutschland. Für Litauen kann ich aber bis jetzt sagen: „Englisch ist nicht ihr Steckenpferd!“. Ist schon happig, die richtigen Informationen aus den Leuten hier rauszubekommen.
</p>
<p>Bei der Durchfahrt bis zum Nationalpark nordöstlich von Vilnius fiel uns auf, dass sich das Land von den anderen baltischen Staaten unterscheidet. Hier gibt es viel mehr Ackerbau und große, weite Flächen. Auf den Feldern stehen ab und zu eine oder zwei einsame Kühe herum. Zäune gibt’s hier nicht. Meistens sind die Tiere mit einer Kette irgendwie am Boden befestigt. Aber auch Störche gibt es hier wieder in Mengen!
</p>
<p>Für unsere Kaffeepause fanden wir einen super Badestrand und sprangen auch gleich mal in das erfrischende Nass - umzingelt von kleinen Fischen. Das war das erste Mal auf unserer Reise, dass man von „im See baden“ sprechen konnte. Sonst war es eher ein schnelles hinein und wieder heraus hüpfen.
</p>
<p>Wir fuhren weiter bis zum Nationalpark Aukstaitijos. Der liegt schon sehr nahe an Weißrussland. Bei Einfahrt in den Park konnte man die Grenze zwischen Park und „normalem“ Land direkt erkennen: Dort wo die Schlaglöcher tiefer und der Sand auf der Straße höher liegt. Unser angepeilter Zelt- und Feuerplatz ist ein absoluter Traum. Hier merkt man wieder was Stille wirklich heißt. Ist jedes Mal eine neue Erfahrung, wenn man im Halbdunkeln draußen sitzt und es irgendwo im Wald raschelt.  Angeln ist hier laut einem Jugendlichen im Supermarkt kostenlos, also hab ich es hier mal wieder versucht. Sogar mit einer selbst erlegten Pferdebremse. Aber irgendwie bin ich immer noch verwöhnt von den großen Fischen in Norwegen Fjorden. Alles was hier rumschwimmt ist für mein Empfinden zu klein zum Essen. Also grillten wir uns abends lieber ein paar Bratwürste :-D
</p>
<table data-title='2012-07-24-litauen'>
<tr>
<td><a><img src='/posts/assets/2012-07-24-litauen/1.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-07-24-litauen/2.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-07-24-litauen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-07-24-09-16-europa-litauen_R.small.gpx"></div></p>
