---
title: 'Tanken wie zu Großvaters Zeiten'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Estland, GPX, Karte, Reise, Route, Urlaub ]
---
<p>15.-16. Juli (Vösu, Tartu)
</p>
<p>Gestern konnten wir uns dann doch wieder vom Campingplatz trennen und beschlossen ein bisschen weiter nach Südosten zu fahren. Unser Sonntag war wettertechnisch leider extrem durchwachsen, um nicht zu sagen: verregnet. Deshalb machten wir kurzentschlossen einen Abstecher in das 10 Kilometer entferne Palmse, wo wir vor zwei Tagen schon mal an einem Herrenhaus vorbeigekommen waren. Dieser Gutshof sollte einer der schönsten und größten in Estland sein. Was wir vorfanden war wirklich beeindruckend. Die „Herren“ haben es sich früher schon gut gehen lassen :-). Erstaunt waren wir allerdings, dass vieles in deutscher Sprache beschriftet war. Grund dafür war, dass sich im schon im 18. Jahrhundert viele Deutsche hier niedergelassen hatten, um die Länder zu „verwalten“. Die Destille des Gutshofes wurde zwar restauriert, aber ist jetzt leider ein Hotel, also kann man nicht viel, sehen außer das Gebäude. Der Schmied, der in der alten Schmiede auf uns wartete, war einer wie man sich das vorstellt. Breites Kreuz und ziemlich stämmig, damit er den Hammer gut festhalten kann. Er erklärte uns einiges über die alten Utensilien, die überall herumhingen. Wir schlenderten noch ein bisschen durch den alten Park und wurden leider wieder von einem kleinen Regenschauer erwischt. Schnell huschten wir in ein altes Lagerhaus, in dem gerade eine Fahrradausstellung untergebracht war. Die Geschichte des Fahrrads im 19 Jahrhundert. Echt cool, diese alten Bikes. Am meisten überrascht war ich über die Plattfedergabel von zirka 1930. Dachte immer Federgabeln am Fahrrad sind ein Luxus aus der Neuzeit. 
</p>
<table data-title='2012-07-15-estland' data-offset='3'>
<tr>
<td><a><img src='../../../../posts/assets/2012-07-15-estland/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-07-15-estland/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-07-15-estland/3.jpg'/></a></td>
</tr>
</table>
<p>Nach unserer Besichtigungstour setzten wir uns in den Bus, machten erst mal eine gemütliche Kaffeepause und peilten dann als Tagesziel den größten See in Estland, den Peipsi Järv. Er liegt ganz im Osten und ist auch gleichzeitig die Grenze zu Russland. Einen kleinen Zwischenstopp gab es noch, als wir an einer alten Festung vorbeikamen, die man von der Straße aus gut sehen konnte. Die Burg in Rakvere wird immer noch stark genutzt – allerdings eher von Leuten, die gerne im Mittelalter leben würden :-D Bunt verkleidet und wuselten viele in der Burg herum. Wir schauten uns diese von außen an, nachdem das Wetter gerade mal keinen Regen für uns hatte. Am Abend fanden wir dann einen Stellplatz auf einem Campingplatz am See, auf dem außer uns nur noch drei andere Personen waren. „Fünf Euro“, meinte das junge Mädel die am Eingang die Stellung halten musste. Dafür hatten wir ein super Vordach zum Kochen und eine riesige Tanzfläche. Hier könnte man eine große Feier machen, aber leider sind unsere Freunde alle ein paar tausend Kilometer entfernt! Na, dann haben wir eben den vielen Schwalben zugeschaut, die etliche Nester unter dem Vordach gebaut hatten und wie am Fließband Futter für ihre Jungen brachten.
</p>
<p><div class="map" gpx="/gpx/2012-07-15-12-34-europa-estland_R.small.gpx"></div>
</p>
<p>Beim Frühstück fuhr auf einmal ein Auto auf den Platz. „Patrol“ stand groß auf dem Fahrzeug. Drei dicke Männer in komplett grüner Montur stiegen aus. Sie liefen erst zum See und kamen nach einigen Minuten auf uns zu. Es war die Grenzpatrouille – da merkten wir erst, dass wir ja eigentlich nur ein paar Meter neben der russischen Grenze standen. Wenn man scheinbar mit dem Boot ein bisschen zu weit rausfährt, ist man schon „drüben“. Naja, der eine stammelte etwas über IDs und ich dachte, wir werden kontrolliert. Ich sagte „Ja, Moment“, aber er meinte nur „Nene, nur für denn Fall dass uns mal jemand kontrolliert“ :-D Aber wer sollte uns denn kontrollieren außer eine Grenzpatrouille???
</p>
<p>Naja, die drei liefen weiter und fragten unsere Nachbarn mal nach ihrem Boot. Dann setzten sie sich in ihr Auto und ließen uns wieder alleine.
</p>
<table data-title='2012-07-16-estland' data-offset='3'>
<tr>
<td><a><img src='../../../../posts/assets/2012-07-16-estland/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-07-16-estland/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-07-16-estland/3.jpg'/></a></td>
</tr>
</table>
<p>Und wir starteten auch los, denn heute wollten wir bis nach Tartu kommen. Bei der Fahrt über Land sahen wir immer wieder riesige, verfallene Bauernhöfe. Überhaupt schien dieser ganze Landstrich ziemlich verlassen zu sein. Wir mutmaßten, dass diese Bauernhöfe zu Sowjetzeiten der Versorgung dienten, nach der Unabhängigkeit 1991 aber nicht mehr benötigt wurden.
</p>
<p>Auf dem Weg nach Tartu lag auch ein kleines Naturschutzgebiet von RMK. Das ist die Organisation, die sich hier in Estland um die Landschaft kümmert und auch die tollen Feuerplätze zur Verfügung stellt. (Hatte ich schon erwähnt, dass ich mich jedes Mal bei der Ankunft an solchen genialen Plätzen frage, warum es so was eigentlich nicht in Deutschland gibt???). Ein kleiner Wanderweg führte uns vorbei an mehreren Feuer- und Übernachtungsplätzen auf eine kleine Insel im See. Als wir zurück am Büssli waren stellten wir fest: „Uii, wir müssten eigentlich auch mal wieder irgendwann tanken“. Ich suchte eine Tankstelle mit dem Navi, die an unserem Weg lag und peilte diese an. 
</p>
<p>An einer Kreuzung sahen wir einen alten Mann mit seinem Erdbeerstand und dachten uns: „Mhhh, lecker, komm, da schau mer mal“. Wir versuchten dem Mann auf Englisch zu entlocken was der Preis sei, bis sich herausstellte, er kann gar kein Englisch, dafür einige Brocken deutsch. Seine Tochter studiert in Göttingen und aus unserm „N“ am Kennzeichen schlussfolgerte er fix: „Du von Berlin“. Wir unterhielten uns einige Minuten, packten dann glücklich unser Kilo Erdbeeren ein und setzten unsere Fahrt fort.
</p>
<p>Als wir in dem angepeilten Ort ankamen, fanden wir zwar eine alte Kirche als Sehenswürdigkeit, aber leider keine Tankstelle :-( Naja, 80 km kommen wir noch und dann sind wir schon lange in Tartu. Zwei Kilometer hinter dem Ortsschild sahen wir jedoch ein verrostetes Schild „Tankstelle rechts“, bogen spontan ein und dachten erst „WOOOWW, gibt es hier in der Baracke überhaupt Leben?“ Aber siehe da – eine hochmoderne Tankstelle :-D Zapfsäulen, die ich nur aus den Zeiten kannte, in denen mich mein Opa als kleiner Junge öfter mit seinem LKW mitnahm. Dany machte mit der Frau an der Kasse mit Händen und Füßen aus: „Wir wollen volltanken“. Die Frau zeigte auf die Säule und los ging es. Ich musste unbedingt noch ein paar Bilder schießen, bevor wir unsere Fahrt dann nach Tartu fortsetzten.
</p>
<p>Tartu ist das Zentrum der Bildung in Estland. Ein spektakuläres Universitätsgebäude (sieht eher aus wie bei den Griechen) ziert die Stadt neben den anderen alten, schön hergerichteten Gebäuden in der Innenstadt. Junge Menschen bevölkern die Fußgängerzone und den Botanischen Garten, den wir auch nicht auslassen konnten. 10 Kilometer außerhalb der Stadt gibt es einen Bird-Watching-Trail, den wir uns morgen früh genauer ansehen werden.
</p>
<p>Den Bus stellten dafür schon mal einen kleinen See am Eingang des Wanderweges ab und genossen den extrem windigen, sonnigen Abend.
</p>
<table data-title='2012-07-16-estland' data-offset='28'>
<tr>
<td><a><img src='../../../../posts/assets/2012-07-16-estland/25.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-07-16-estland/26.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-07-16-estland/27.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-07-16-13-26-europa-estland_R.small.gpx"></div>
</p>
