---
title: 'Polarkreis ... wir kommen'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Norwegen, Reise, Route, Urlaub ]
---
<p>(4-5.Juni) Trondheim, E17, Kollstraumen
</p>
<p>Die letzten Tage waren schon sehr regenreich, aber scheinbar haben wir das nun überstanden. Heute morgen begann der Tag endlich wieder mit Sonnenschein. Naja, was heißt hier eigentlich beginnen??? Nachts um 12 Uhr ist es immer noch hell, aber wir schlafen dann doch mal lieber ne Runde und früh um 6 ist es auch hell. Ist die Sonne eigentlich untergegangen? Ja, noch sind wir unterhalb des Polarkreises und zudem ist noch nicht das Mitsommernachtsfest (Was hier in Norwegen megamäßig gefeiert wird) ... Den Hardcore-IKEA-FANs wird man da nichts Neues erzählen, die Angebote kommen bald!
</p>
<p>Wir haben einen Tag Trondheim unsicher gemacht und uns die Stadt mal genauer angesehen. Der Nidarosdom ist schon sehr sehenswert und die Besichtigung für zwei Voksene kostet ca 16 Euro – aber ein absolutes Muss, da hier die Könige von Norwegen gekrönt werden/wurden. Die Festung hat uns einen schönen Blick auf die Stadt ermöglicht. Am besten hat uns aber die kleine Straße zwischen Dom und Festung gefallen, in der sich viele kleine Kaffees in den schnuckeligen Häuschen befinden. Schlussendlich hat Dany endlich noch ne NIVEA-Creme gefunden, die es in Norwegen komischerweise nur im Ramschladen gibt ... Am Abend wollten wir dann noch raus aus der Stadt um wieder in der freien Natur ein Plätzchen zum übernachten zu suchen. Erst beim zweiten Anlauf wurden wir fündig, woraus wir lernen: Auch in Norwegen sollte man auf die Schilder für einen Badeplatz achten!
</p>
<table data-title='2012-06-04-norwegen'>
<tr>
<td><a><img src='../../../../posts/assets/2012-06-04-norwegen/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-06-04-norwegen/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-06-04-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-06-04-10-50-europa-norwegen_R.small.gpx"></div>
</p>
<p>Am Dienstag ging es dann wieder von der E6 runter um unsere Reise auf der E17 fortzusetzen. Karl hat uns da einen heißen Tipp gegeben und einen Artikel aus einem Bikermagazin geschickt. Die Straße soll eine super Alternative zur Standardroute Richtung Norden sein und bis jetzt wurden wir auch nicht enttäuscht. Wir sehen mehr kleine Häuschen und der Verkehr ist deutlich weniger. Die letzten Abende gab es natürlich wieder selbstgefangenen Fisch (da sind wir jetzt schon sattelfest) und heute gibt es das erste selbstgebackene Brot aus dem Campingofen ... (und natürlich frisch gefangenen Fisch ☺) leeeecker!!!!
</p>
<table data-title='2012-06-05-norwegen'>
<tr>
<td><a><img src='../../../../posts/assets/2012-06-05-norwegen/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-06-05-norwegen/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-06-05-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-06-05-10-40-europa-norwegen_R.small.gpx"></div></p>
