---
title: 'Die schönste Stadt in Polen'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Polen, Reise, Route, Urlaub ]
---
<p>2. – 3. August (Breslau, Krakau)
</p>
<p>Heute ging es zusammen nach Krakau. Laut Reiseführer ist das die schönste Stadt in Polen und toppte mit der Anzahl der Kirchen (angeblich 140 in der ganzen Stadt) und Denkmäler alles, was wir zuvor auf unserer Reise gesehen haben. Die Fahrt dorthin ging ausschließlich über die Autobahn, sodass wir die 300 Kilometer an einem Stück fahren wollten. Zwischendurch hielten wir nur für an eine kurze Pause an einem Autobahnrastplatz. Schon bei der Einfahrt merkten wir: „Was sind das denn für komische Typen ... und was halten die denn da in der Hand??“ Schnell war klar, hier versuchten ein paar Rumänen an einem polnischen Parkplatz amerikanische Handys an deutsche Touristen zu verkaufen. Das ist Globalisierung! Leider nur waren die „Verkäufer“ extrem aufdringlich. Und als einer der Kerle sich dann auch noch dafür interessierte, wie unsere Räder am Bus befestigt waren, fuhren wir mal lieber los. Kurz vor der Ankunft am „SMOK“-Campingplatz in Krakau beschlossen wir, noch „schnell“ was einzukaufen. Der megagroße Tesco-Supermarkt, der 24/7 geöffnet hat, hat uns dann aber ein wenig überfordert. Wir benötigten für unseren Einkauf eine halbe Ewigkeit. Jeder entdeckte was Neues, was wir in den nächsten Tagen auf den Grill werfen oder sonst irgendwie zu einer Mahlzeit verwenden könnten :-) Mit etlichen Tüten verließen wir den Supermarkt und freuten uns schon auf die saftigen Steaks ;-) Am Abend hieß es dann erst mal „Enjoy your food“. Jeder bastelte was „Spezielles“. Christian legte sich beim Einlegen der Steaks ins Zeug. Nicole zauberte im „Rentnermobil“ einen Karottensalat mit einer Frischkäsemarinade. Dany machte aus Kartoffeln, Karotten und Zwiebeln unsere neue Reiseerfindung: DünstGrillGemüse in der Brotbackform. Naja, und ich warf mal den Grill an und überwachte das Ganze mit ner Bierdose in der Hand :-D.
</p>
<p>Beim Essen planten wir, was wir am nächsten Tag anschauen könnten. Im Vorfeld hatten wir wieder nach einer FreeWalkingTour Ausschau gehalten und wurden im Internet auch fündig. Um elf Uhr sollte diese losgehen. Bisher haben wir die Städte ja immer mit dem Rad erkundet, aber nachdem sich Sandro noch spontan bei uns gemeldet hatte und er für ein verlängertes Wochenende zu uns stoßen wollte, beschlossen wir am nächsten Tag mit den Öffentlichen zu fahren.
</p>
<p><div class="map" gpx="/gpx/2012-08-02-10-52-europa-polen_R.small.gpx"></div>
</p>
<p>Am Morgen machten wir erst ein gemütliches Frühstück und gerieten dann mal wirklich in Stress. Ein Termin um 11 Uhr in der Früh ist wirklich nichts mehr für uns :-D Der geplante Bus um 10:22 fuhr uns vor der Nase weg, aber wir schafften es am Ende doch mit den Fahrrädern um 11:01 zum Start der Stadtführung. Während der Führung haben wir festgestellt: Krakau ist wirklich eine der schönsten Städte, in der wir bisher waren. Da die Deutschen die Stadt während des Zweiten Weltkrieges als Verwaltungssitz für Polen ausgewählt hatten, wurde die Stadt so gut wie kaum zerstört. Alle historischen Bauten sind quasi in ihrem Originalzustand, was schon sehr beindruckend ist. Allen voran der Wawel, der Burgberg mit Schloss und Kathedrale, in dem früher die polnischen Könige begraben wurden. Das Schloss sieht aus wie ein italienisches Renaissance-Schloss mit luftigen Gängen und Säulen, weil das dem damaligen polnischen König so gut gefallen hat. Nur das Dach ist nicht flach, sondern schräg, damit der Schnee nach unten rutschen kann. Ist halt doch nicht Italien ;-)
</p>
<p>Wir fühlten uns aber so an dem Tag, denn die Sonne schien und es war extrem warm. Nach 2,5 Stunden Rundgang waren wir dementsprechend geplättet und versackten in einem „Biergarten“. Sandro, der noch ein bisschen alleine unterwegs war, schlenderte zufällig an unserem Lokal vorbei und so saßen wir alle zusammen in der Hitze herum und gönnten uns ein kühles piwo. Danach liefen wir noch ein bisschen durch die Stadt, wurden aber von einem plötzlich aufziehendem Gewitter erneut in ein Restaurant „gezwungen“. Wir aßen noch eine Vorspeise zu unserem Getränk, bevor wir zurück zum Campingplatz radelten und .... mal wieder den Grill anwarfen :-D
</p>
<table data-title='2012-08-03-polen'>
<tr>
<td><a><img src='../../../../posts/assets/2012-08-03-polen/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-08-03-polen/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-08-03-polen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-08-03-10-15-europa-polen_R.small.gpx"></div></p>
