---
title: 'Die erste eigene Angelerfahrung'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, Karte, Reise, Urlaub ]
---
<p>8. Mai (Kristdala)
</p>
<p>Nach professioneller Einweisung durch unsere 3 deutschen Nachbarn – die jedes Jahr mit ein paar Steigen Bier hier zum Angeln her fahren – konnte ja eigentlich nichts mehr schief gehen. Sogar ein paar Infos zum Aufbau der Angel waren dabei: „Wenn man fette Hechte fangen will braucht man auf jeden Fall ein Vorfach, sonst beißt der Hecht die Schnur einfach ab!“  Wir nickten nur ganz wissend und checkten nach der Abfahrt das Ganze mal mit Flohs professionellem Angelset (Danke nochmal fürs ausleihen). Ich hab mal die große Angel mit so einem Vorfach versehen und dann den großen Fischköder angehangen. Sah schon mal aus wie bei den Profis. Nach ca 15 Minuten ging dann alles viel zu schnell .... die Angel zuckte und ruckte, dann zog es richtig und nach 10 Sekunden war das ganze Vorfach inklusive unseres ersten Köders weg .... Naja, der arme Fisch, aber wahrscheinlich hätten wir diese Größe sowieso nie an Land gebracht.
</p>
<p>Jetzt kaufen wir erst mal kleinere Köder und fangen mal mit „kleinen Fischen“ an :-) 
</p>
<table data-title='2012-05-08-schweden'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-08-schweden/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-08-schweden/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-08-schweden/3.jpg'/></a></td>
</tr>
</table>
