---
title: 'Alles einsteigen bitte!'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Polen, Reise, Route, Urlaub ]
---
<p>7. – 8. August (Zakopane)
</p>
<p>Die Hohe Tatra bietet einiges zum Erkunden und nachdem Zakopane ein super Ausgangspunkt ist, haben wir beschlossen hier ein paar Tage zu bleiben. Das Ziel, bis zur Bergstation der Bergbahn zu laufen, haben wir ja gestern leider um knappe 300 Meter verpasst, aber es gibt auch noch einen anderen Weg über ein anderes Tal dort hinauf. Diesen wollten wir uns heute einmal ansehen und sind frohen Mutes nach einem gemütlichen Frühstück zum Bus gelaufen. Heute waren wir schon routinierter und als der erste Kleinbus um die Ecke schoss, hoben wir sofort unsere Hand und saßen 4 Sekunden später drin – auch wenn hier gar keine Haltestelle war. Alles was Geld bringt, packen die Fahrer ein. An diesem Tag war aber einiges auf der Straße los und wir standen ein paar Minuten im Stau. Plötzlich entfernte der Fahrer das Schildmit seiner Fahrtroute aus der Frontscheibe und fuhr einfach eine kleine Seitenstraße hinauf. Fix ging es durch diverse Gassen bis wir den Stau umfahren und am Ziel angekommen waren. Soll doch jemand anderes die wartenden Passagiere im Stau abholen :-D
</p>
<p>Am Start stellten wir fest, dass es auch heute zeitlich knapp werden würde, die Gipfelstation zu erreichen und deshalb suchten wir uns eine Alternativroute bis zu einem Sattel auf 1800 Meter Höhe. Von dort aus hatten wir einen super Blick über die polnische Seite der Hohen Tatra. Das Wetter war an diesem Tag auch noch einen Tick besser als am Tag zuvor. Beim Aufstieg sahen wir an einer Berghütte einen alten Mann, der gerade seinen Bus neu verdrahtete. Naja, richtig viel Elektronik war in der alten russischen Schüssel nicht drin ;-) Wir konnten uns zwar nicht unterhalten, aber er erkannte schnell, dass ich an seiner Arbeit interessiert war und hatte auch Verständnis für ein Bild. 
</p>
<p>Nach dem Abstieg suchten wir uns wieder unseren Bus Richtung Heimat. Wie wir am letzten Tag festgestellt hatten, konnte man irgendwo auf der Hälfte zwischen Kusnice und Zakopane rausspringen und versuchen einen Anschlussbus zu bekommen. Mutig probierten wir es wie die Profis und waren total glücklich, dass wir am Ende tatsächlich wie geplant am Campingplatz ankamen.
</p>
<p>Nach dieser anstrengenden Tour beschlossen wir, mal andere für uns kochen zu lassen und suchten uns ein uriges Restaurant in der Nähe des Campingplatzes. Es war noch warm genug, um draußen sitzen zu können und das Essen schmeckte hervorragend: geräucherter Schafskäse mit Preiselbeeren, Gulaschsuppe, Pierogen, gegrillte Lammwurst, dazu Wodka und Bier ... mit der deftigen polnischen Küche konnten wir uns wirklich anfreunden. Zudem spielten im Innenraum des Restaurants ein paar Musiker in Tracht mit Geige, Gitarre, Kontrabass und Akkordeon polnische Lieder. Eigentlich eine perfekte Untermalung für diesen Abend. Bis zu dem Moment, an dem wir gehen wollten. Einer der Musiker fragte uns, wo wir denn herkommen. Als wir uns als Deutsche zu erkennen gaben, fingen sie an, das Deutschlandlied zu spielen und singen und ausgerechnet die Strophe, die ein absolutes No-Go ist. Wir wussten nicht so richtig, was wir davon halten sollten. Wussten sie nicht, dass dieses Lied ein Tabu ist? Oder wollten sie uns provozieren? Keine Ahnung! Uns lieferte dieser Zwischenfall zumindest Diskussionsstoff, um über das deutsch-polnische Verhältnis zu diskutieren.
</p>
<table data-title='2012-08-07-polen'>
<tr>
<td><a><img src='/posts/assets/2012-08-07-polen/1.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-08-07-polen/2.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-08-07-polen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-08-07-11-46-europa-polen_R.small.gpx"></div>
</p>
<p>Am nächsten Tag war der Bergsee „Morskie Oko“ unser Ziel. Dieser Bergsee wird auch „Meerauge“ genannt und ist der Berühmteste im „Tal der fünf polnischen Seen“. Am Morgen fragte ich an der Rezeption des Campingplatzes nach, wo denn der Bus fahren würde, weil sich der See zirka 20 Kilometer in die andere Richtung befand. Die Frau meinte nur, wir sollen uns wieder vorne an der Hauptstraße hinstellen und warten bis „Morskie Oko“ auf dem Bus-Schild steht. Gesagt getan. Jedoch nichts passierte! Heute war der Stau noch größer als am Tag zuvor und scheinbar hatte keiner der Busfahrer Lust bei uns vorbeizukommen. Wir beschlossen einen Bus zu nehmen, der zu einer anderen Straße führte, die in Richtung unseres Ziels ging. Das war schon mal eine gute Idee, aber dann kam alles anderes :-) Wir sahen einen Bus mit „Morskie Oko“-Schild, der aber, von uns gesehen, in die verkehrte Richtung stand und leer war. Der Busfahrer signalisierte uns jedoch: Alles einsteigen, er fährt jetzt direkt dorthin. Als wir drin saßen, fuhr er aber erst mal Richtung Zentrum Zakopane. Wir fuhren eine halbe Stunde kreuz und quer durch den Ort und der Typ rief permanent „Morskie Oko“ zum Fenster raus. Das war mal Kaltaquise! Der Hammer war, als wir nach 45 Minuten wieder bei uns am Campingplatz vorbeifuhren :-D. Danach hatte der Fahrer aber auch keine Lust mehr durch die Stadt zu gondeln und fuhr uns endlich zum See.
</p>
<p>Dort angekommen traf uns fast der Schlag! Das war der Ort, den man als Pole unbedingt im Urlaub besucht haben muss. Autos über Autos standen an der Straße entlang und nahezu alle Parkplätze waren belegt. Das Ergebnis sah man auf dem 9 Kilometer langen, geteerten (!) Wanderweg, der vom Parkplatz zum See hoch führte. Er war gefüllt mit Menschen – alleine Wandern in der Natur war hier Fehlanzeige! Nach 2,5 Stunden waren wir dann am See und teilten uns mit den anderen 1000 Touristen den Blick auf das besagte Meerauge und den höchsten Berg Polens. Der Rysy ragte mit etwa 2500 Metern vor uns in den blauen Himmel.
</p>
<p>In dem ganzen Trubel verdrückten wir kurz unsere Brotzeit und machten uns dann aber auch gleich wieder auf den Rückweg. Die Heimfahrt mit den Minibussen klappte dann wieder ohne Probleme und neue Erlebnisse – fast ein bisschen langweilig ;-)
</p>
<p>Unser Fazit für das Busfahren in Zakopane ist auf jeden Fall: „Steig nie in einen leeren Bus ein – auch wenn der Busfahrer sagt er fährt gleich zum Ziel!“
</p>
<table data-title='2012-08-08-polen'>
<tr>
<td><a><img src='/posts/assets/2012-08-08-polen/1.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-08-08-polen/2.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-08-08-polen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-08-08-11-36-europa-polen_R.small.gpx"></div></p>
