---
title: 'Wie im Paradies ...'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, Finnland, GPX, Karte, Reise, Urlaub ]
---
<p>21. Juni (Inari - Ivalo)
</p>
<p>Heute Morgen regnete es wieder und wir haben beschlossen unser Auto für die nächsten Tage vorzubereiten. Hier stehen nämlich 3 Feiertage an – Mittsommer!!! Das größte skandinavische Fest. Dazu fuhren wir in das 30 km entfernte Ivalo. Hier hatte man wirklich das Gefühl von Leben. Allerdings beschränkte sich das auf eine einzige Straße. An dieser sind dann Supermärkte, Tankstellen, Hotels und auch eine Touristinfo – Perfekt! Wir beschlossen erst mal unseren Einkauf zu erledigen und dann mal nach den „Parties“ zu fragen.
</p>
<p>Kurz vor dem Supermarkt entdeckten wir auch den „RKioski“, den uns der wortkarge Finne in Inari genannt hatte. Als wir rein kamen, hatte man eher das Gefühl in einer Spielhalle als in einem Kiosk zu sein. Einige Männer standen an Spielautomaten herum, die an der Wand hingen, und ständig füllten Menschen in allen Altersklassen Spielscheine aus oder zogen Lose. Naja, wir fragten nach der Prepaid-Karte fürs Handy und die Frau wusste gleich was wir wollten. Leider waren ein paar Dinge zum Tarif nicht klar und 10 Leute in unserer Schlange machten Druck – sie mussten ja ihren Spielschein abgeben. Die Verkäuferin war dennoch superfreundlich und rief für uns bei der Hotline an, während sie den Leuten ihre Spielgebühren abknöpfte. Aus dem Telefonat – das sich genau gar nicht verstehen oder auch nur erahnen lässt konnte – ließ sich erkennen: Scheinbar checken die es beim Provider auch nicht wirklich. Das hatte ich in Schweden und Norwegen ja auch schon festgestellt. Die Verkäuferin meinte dann das Paket von DNA Dataprepaid würde schon passen und nach dem Kauf und der Aktivierung ließ ich das dann auch noch mal von Mira in Oslo checken. Sie ist ja Finnin und konnte uns bestätigen: 10 GB in 6 Monaten ohne Speedlimit. Passt! So viel werden wir auf keinen Fall surfen und die Eltern, Omas und Freunde können sich wieder auf ruckelfreie Telefonate freuen! Der Preis von 25 Euro dafür ist auch ok – für Reisende die länger in Finnland sind auf jeden Fall eine Empfehlung!
</p>
<p>Ein Blick auf die Preisanzeige der Tankstelle ließ unsere Reisekasse vor Freude in die Luft springen! 30 Cent pro Liter günstiger als in Norwegen! Ein Traum. Im Supermarkt wurden die Augen immer größer. Schau mal dies und schau mal das – fast fünf Wochen Norwegen lassen einen die günstigen Preise in anderen Ländern fast vergessen. Nachdem das große Mitsommerfest ansteht, an dem alle Läden geschlossen sind, packten wir unseren kleinen Einkaufswagen voll, bis nichts mehr rein passte. An der Kasse bezahlten wir dann nur 45 Euro – das muss hier das Paradies sein :-) 
</p>
<p>Nach dem Einkauf kümmerten wir uns um Informationen für die Veranstaltungen, die hier im Umkreis stattfinden. Das Mädel in der Touristinfo grinste uns an und übersetzte dann die halbe Tageszeitung: Wir gingen mit einem Zettel voller Informationen heraus und freuten uns mit den Einheimischen das Fest zu feiern.
</p>
<p>Eine besondere Empfehlung war ein großes, schwimmendes Feuer, welches von einem Hotel organisiert wird. Dort sollte es auch Livemusik und einen Tanz geben. Wir suchten das Hotel und fragten nochmal nach den Details. Der letzte Satz des netten Mannes an der Rezeption: „... A traditional finnish party, with a lot of drunken people!“. Also das war der Grund, warum das Alkoholregal im Supermarkt von Menschen nur so wimmelte.
</p>
<p>Wir beschlossen, wieder ein Stück zurück nach Inari zu fahren, denn da gibt es morgen eine „Traditional-Sami-Party“. Auf dem Weg dorthin hielten wir spontan an einem Campingplatz und weil es nun schon wieder die ganze Zeit regnete checkten wir ein und gönnten uns ne heiße Dusche!
</p>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-06-21-10-39-europa-finnland_R.small.gpx"></div></p>
