---
title: 'In the middle of nowhere '
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, Finnland, GPX, Karte, Reise, Route, Urlaub ]
---
<p>4. Juli (Oravi, Tuunaansalmi)
</p>
<p>Die Sonne hatte uns auf unserer Bootstour ganz schön geplättet und so verbrachten wir den gestrigen Abend noch einmal auf dem Parkplatz des Hafens in Oravi. Duschen war ja hier kostenlos und Zeit hatten wir auch genug. Wir suchten uns im Internet den nächsten näherliegenden Nationalpark – irgendwie schienen wir jetzt doch voll und ganz in Finnland angekommen zu sein. Es hat einfach ein wenig Zeit gebraucht, bis wir den Lifestyle der Finnen verstanden und uns von norwegisch auf finnisch umgestellt hatten. Deshalb ein kleines Fazit zwischendurch: Bei Langzeit-Reisen durch mehrere Länder sollte man berücksichtigen, dass es durchaus mehrere Tage dauern kann, bis man kapiert was den Menschen dort wichtig ist – auch wenn es nur ein paar Kilometer über die Grenze sind.
</p>
<p>Finnland ist hervorragend dokumentiert, was Nationalparks und Wandergebiete anbelangt. Es gibt eine eigene Organisation, die sich für ganz Finnland darum kümmert (www.outdoors.fi). Dort sind auch alle Feuerstellen und Zeltplätze zu finden, die ebenfalls von staatlichen Geldern unterhalten werden.
</p>
<p>Bevor in den nächsten Park aufbrachen, machten wir noch einen Abstecher nach Savonlinna. Dort fand gerade das größte Opernfestival Finnlands statt, was angeblich immer im gleichen Atemzug mit Bayreuth genannt wird. Ein kleiner schnuckliger Hafen, die große Burg auf dem Wasser und der strahlende Sonnenschein luden gleich zum Eisessen ein – der Sommer ist da!!! Alle lagen in kurzen Klamotten und Badekleidung am Strand herum ... was ist nur in den letzten 2 Tagen passiert???
</p>
<p>Nach einer kurzen Erkundungstour setzten wir unsere Fahrt fort, kamen aber nur wenige Kilometer weiter, bis unsere Fahrt wieder durch die schöne Landschaft gestoppt wurde. Wir wollten ein bisschen durch das Naturschutzgebiet wandern, als wir auf der Karte feststellten, dass es am Ende der Insel auch ein Feuerstelle gab. Ich fragte in einem Cafe, ob es dort auch erlaubt sei zu zelten, worauf mir ein Mann ganz stolz erklärte: „It’s a very beautiful place and you can set up your tent. A lot of wood is available for the nice fireplace“. Scheinbar war er dafür zuständig und freute sich total, dass das Leute nutzen. Wir durften dann sogar mit unserem Bus durch den geschützten Wald – der zu dem darin liegenden Museum gehört - bis kurz vor die Feuerstelle fahren. Also wir dort ankamen war wieder sofort klar: Das ist es! Irgendwo im Nirgendwo standen wir mit unserem Bus und konnten die Natur in vollen Zügen genießen. Man hörte absolut nichts außer dem Rascheln der Blätter und die Geräusche der Tiere, die sich hier rumtreiben.
</p>
<p>Als wir die Feuerstelle fanden verstanden wir auch was „a lot of wood“ war! Ein riesiger Berg Holz war vor das dadurch recht klein wirkende Holzhüttchen gekippt worden. In Deutschland hätte ich den Schwedenofen damit locker 3-4 Jahre befeuern können. Wir genossen den Abend beim Grillen und rätselten wieder, warum es solche Feuerstellen eigentlich nicht in Deutschland gibt. 
</p>
<p>Nach einem faszinierenden Sonnenuntergang – ganz dunkel wird es ja immer noch nicht, aber die Sonne färbt sich wieder rot und orange am Abend – schlenderten wir die 500 m bis zu unserem Bus durch den mittlerweile doch sehr lieb gewonnenen finnischen Wald.
</p>
<table data-title='2012-07-04-finnland'>
<tr>
<td><a><img src='/posts/assets/2012-07-04-finnland/1.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-07-04-finnland/2.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-07-04-finnland/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-07-04-12-03-europa-finnland_R.small.gpx"></div>
</p>
