---
title: 'Abschiedsparty'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, Reise, Urlaub ]
---
<p>Vielen Dank für die Hammer-Abschiedsparty!!!! War der absolute Wahnsinn :-)
</p>
<p>Hier ein paar Bilder ...
</p>
<table data-title='2012-04-21-abschiedsfeier'>
<tr>
<td><a><img src='../../../../posts/assets/2012-04-21-abschiedsfeier/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-04-21-abschiedsfeier/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-04-21-abschiedsfeier/3.jpg'/></a></td>
</tr>
</table>
