---
title: 'Savusauna-Meister Kari'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, Finnland, GPX, Reise, Route, Urlaub ]
---
<p>5. Juli (Tuunaansalmi, Uimolan)
</p>
<p>Für heute stand Lappeenranta auf dem Plan. Wir wollten wieder ein bisschen weiter nach Süden kommen, nachdem wir gestern Nachmittag an der schönen Feuerstelle versackt sind. Wir machten uns also nach einem gemütlichen Frühstück auf den Weg und fuhren Richtung Russland – die Grenze wollten wir dann ja auf jeden Fall schon gesehen haben. Kurz vorher gibt es ein großes Vogelschutzgebiet, von dem aus man angeblich die Grenze sehen kann. Vögel haben wir gesehen, aber für die finnisch-russische Grenze hätten wir dann doch wohl das 120cm lange Fernrohr gebraucht.
</p>
<p>Bei einer Kaffeepause suchte ich noch einmal nach einer Savusauna in der Nähe von Lappeenranta, die ich auf jeden Fall einmal ausprobieren wollte. Savusauna (Rauchsauna) ist angeblich die Mutter aller Saunas, in der man früher auch seine Bratwürste, Schinken und Fisch geräuchert hat. Dabei wird ein offenes Feuer unter den Saunasteinen angezündet und der Rauch zieht durch die Steine über den Saunaraum nach oben. Im Dach ist dann ein kleiner Abzug, der später wieder verschlossen wird. Die Sauna ist innen kohlrabenschwarz und riecht, als ob es gebrannt hat. Hört sich alles ziemlich strange an, soll aber ein super Erlebnis sein. So richtig wurde ich leider nicht fündig, weil das entweder nur an bestimmten Tagen oder nur für Mitglieder möglich war. Vielleicht gab es ja was vor Ort.
</p>
<table data-title='2012-07-05-finnland'>
<tr>
<td><a><img src='../../../../posts/assets/2012-07-05-finnland/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-07-05-finnland/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-07-05-finnland/3.jpg'/></a></td>
</tr>
</table>
<p>Wir fuhren weiter Richtung Imatra. Dort werden jeden Tag um 18 Uhr die Schleusentore zum Stausee geöffnet, was wir uns anschauen wollten. 10 Kilometer vor Imatra fuhren wir an einem kleinen Schild „Savusauna“ vorbei! Dany rief: „Hier, da war ein Schild“. Wir drehten um und fuhren 2 km einen Feldweg entlang. Das musste ein Irrtum sein! Auf einmal sah man ein total eingewachsenes Schild, dass zu zwei heruntergekommenen Scheunen zeigte. Ok, das wahr wohl hier früher mal ne Savusauna. Als wir im Hof wenden wollten, sahen wir dass dahinter noch ein Wohnhaus stand. „Komm, wir fragen mal“, sagte ich und wir liefen die gemähte Hofeinfahrt hinein. Wir liefen erst mal ums Haus und fanden ein weiteres Schild, das runter zum See führte. Dort fanden wir ein kleines Paradies, wie man sich es in Finnland vorstellt – mit See, Sonne, Bäumen und mehreren gemütlichen roten Hüttchen. Da wir niemanden stören wollten, liefen wir zurück zum Wohnhaus. Ein älterer Mann machte uns die Türe auf und wir fragten nach der Sauna. „Yes, its mine!“ Aber als er uns seinen Preis nannte, war klar, das ist nichts für uns. Nachdem er aber an diesem Abend keine anderen Gäste hatte und es sein Hobby ist, gab Kari, so hieß der Saunabesitzer, uns einen extremen Rabatt, bei dem wir schon ein sehr schlechtes Gewissen bekamen. 
</p>
<p>Rund 3 Stunden dauerte es, bis Kari die Sauna vorbereitet hatte. Dabei erklärte er uns alles bis ins kleinste Detail und erzählte uns eine Geschichte nach der anderen. Wenn irgendwann jemand mal hier in die Gegend kommt, ist ein Besuch bei Kari ein absolutes MUSS!!! So nette und offene Menschen muss man oft lange suchen! Wir haben dann doch lieber ein bisschen mehr gezahlt, weil er sich so viel Mühe gemacht hat.
</p>
<p>Nachdem alles fertig war, verschwand er und wir konnten in Ruhe bis in die Nacht saunieren, baden im See, kochen im kleinen Möcki, saunieren, baden, entspannen, bis uns im Bus die Augen zufielen.
</p>
<p>Mein Fazit ist auf jeden Fall: Diese Art zu saunieren, ist wirklich die spektakulärste Art, auf die man eine Sauna genießen kann!!! Und Kari ist der beste Guide, den man bei der Vorbereitung der Sauna bekommt! Ein echter Savusauna-Meister!
</p>
<table data-title='2012-07-05-finnland-savusauna'>
<tr>
<td><a><img src='../../../../posts/assets/2012-07-05-finnland-savusauna/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-07-05-finnland-savusauna/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-07-05-finnland-savusauna/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-07-05-10-37-europa-finnland_R.small.gpx"></div></p>
