---
title: 'Mit Vollgas durchs Gemüse'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, Litauen, Reise, Route, Urlaub ]
---
<p>26. Juli (Ginucia)
</p>
<p>Heute Morgen war am Zeltplatz eine ziemliche Schreierei während ich mir gemütlich meinen ersten Kaffee machte. Ein Typ schnarchte in seinem Zelt so laut, dass alle anderen nicht mehr schlafen konnten und rüber brüllten. Wir standen aber ja in sicherer Entfernung und im Bus selbst hörte man das gar nicht. Wir stärkten uns erst mal für unsere Paddel-Tour auf dem Fluss Buka. Diese sollte vier Stunden dauern. Kurz vor 11 machten wir uns dann auf nach Ginucia, um unser Büssli dort abzustellen und uns mit dem Boot zum Startpunkt fahren zu lassen.
</p>
<p>Dort angekommen sahen wir Holger, äh Walter, wie er schon wieder hektisch durch die Gegend wuselte. Im Laden lagen die frischen geräucherten Fische – sahen wirklich lecker aus! Wir warteten noch ein paar Minuten an unserem Auto, bevor er zu uns kam und uns Marius vorstellte, unseren Fahrer. Wir luden unsere Sachen in einem alten Ford Mondeo, auf dessen Dach das Boot bereits fest gemacht war. Die Halterung sah sehr spektakulär aus, da es sich nicht um einen Dachträger, sondern um ein etwas stärkeres Kantholz handelte, das mit ein paar Spanngummis an der Dachreeling festgemacht war. Na, das wird schon halten. Wir stiegen ein und fuhren Richtung Startplatz.
</p>
<p>Mir fiel schon gleich auf den ersten Metern an den vielen Geräuschen des Fahrzeuges auf: Das Auto wird’s wohl nicht mehr lange machen. Die Frontscheibe war über die komplette Breite gerissen und die Stoßdämpfer quietschten verdächtig. Außerdem hatten wir nach drei Monaten im Bus das Gefühl in einem Go-Kart zu sitzen. So nah am Boden waren wir gar nicht mehr gewohnt. Nach ein paar Kilometer bog Marius in den Wald ab. Ah, eine Abkürzung! Schlaglöcher werden hier einfach mitgenommen statt umfahren - ist auch einfacher :-). Ich versuchte ein Gespräch anzufangen, aber englisch war auch bei diesem Jugendlichen nicht so hoch angesiedelt. Ich fragte ihn, wie oft die Autos hier ersetzt werden und er erzählte uns, dass sei einmal im Jahr der Fall. Er sei aber ein vorsichtiger Fahrer, weil er immer nur 40 km/h durch den Wald fährt! Sein Chef Walter dagegen würde mit dem VW-Bus mit 9 Leuten drin und dem Bootshänger so schnell wie es nur geht durch den Wald fahren – angeblich mit 110 km/h! Aber das ist nahezu unvorstellbar auf dieser krassen Buckelpiste! Da hatten wir ja nochmal Glück gehabt mit unserem Fahrer ;-)
</p>
<p>Sicher angekommen starteten wir unsere Paddeltour in einem ersten See. Dieser mündete dann in einen 9 km langen Flussabschnitt, der superschön und abwechslungsreich ist. Das musste ein Brutplatz für Millionen von Fischen sein: Sehr flach, mit vielen Schwimmpflanzen und Schilf, führte der Fluss durch ein stark bewaldetes Ufer. Es fühlte sich ein wenig an, als ob wir auf dem Amazonas durch den Dschungel paddelten. Nur, dass es statt Moskitos Pferdebremsen gab. In der oberen Hälfte war der Fluss auch ohne Probleme passierbar. Ab und an musste man mal mit Speed durch das Gemüse, aber man konnte im Boot sitzen bleiben. In der unteren Hälfte wurde es dann unwegsamer. Ab und an lagen Baumstämme im Wasser, über die man nicht mehr drüber kam. Da hieß es aussteigen und tragen. Auf dem kompletten Fluss waren wir alleine unterwegs. Erst als wir aus auf den nächsten See fuhren, sahen wir einige andere Paddler, welche die Brotzeitstelle die wir angepeilt hatten, belegten. Na, dann essen wir halt erst was, wenn wir an Walters Steg angekommen sind. Nach 4,5 Stunden Paddeln kamen wir dort an. Dann hieß es: Baden, Enten füttern und Brotzeit mit einer litauischen Wurst, die wir noch ein dem kleinen Tante-Emma-Laden gekauft hatten und vom Geschmack fast an eine geräucherte Ruppmannsburger Bratwurst hinkam.
</p>
<p>Auf unserer völlig durchnässten Karte des Nationalparks suchten wir uns noch einen Zeltplatz mitten im Wald aus. Die Fahrt zu dem „offiziell“ eingezeichneten Platz ging über einen ziemlich kleinen, sandigen Waldweg, der öfters mit größerem Wurzelwerk versetzt war. Unser Büssli ist echt tapfer, wo es uns überall hinbringt! Ab und an war die Neigung des Weges so stark, dass ich hoffte nicht mit der Markise am Baum hängen zu bleiben. Hier fährt doch sonst keiner lang??? Fehlanzeige. Der Zeltplatz war gut besucht! Allerdings fühlten wir uns, wie auch an unserem Platz am Abend zuvor, ein wenig wie Eindringlinge, die das große Familien-Zeltlager störten. Außer einem kurzen Nicken war dann auch nicht viel mit Konversation. Die Nacht war dann etwas unruhiger als sonst, da die Camper mitten im Wald mehr auf Partymusik als auf Naturgeräusche standen.
</p>
<table data-title='2012-07-26-litauen'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-26-litauen/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-26-litauen/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-26-litauen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-07-26-10-40-europa-litauen_R.small.gpx"></div>
</p>
