---
title: 'Bald gehts los ...'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Reise, Urlaub ]
---
<p>So, bald geht es endlich los. Die letzten Vorbereitungen ziehen sich allerdings ein bisschen.
</p>
<p>Die ORGA mit den Ämtern und Versicherungen ist doch aufwändiger als gedacht, aber wird schon 
</p>
<p>werden :-) 
</p>
<p>Der Bus ist auch so gut wie fertig. Leider funktioniert der ein oder andere Schalter noch nicht
</p>
<p>so wie es soll, aber das kann die Abfahrt auch nicht mehr verhindern ;-)
</p>
