---
title: 'Ooohhh, ab in den Süden .... der Sonne hinterher ... '
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Norwegen, Reise, Route, Urlaub ]
---
<p>18. Juni (Hammerfest – Nordkap)
</p>
<p>Nach unserer etwas seltsamen Nacht fuhren wir erst mal wieder zurück nach Hammerfest, um uns nochmal in der Stadt ein bisschen umzusehen. Wir wollten auch noch an der Touristinfo vorbei, um mal in Erfahrung zu bringen, was die Fahrt zum Nordkap denn nun wirklich kostet. In den letzten Tagen hatten wir schon viele widersprüchliche Aussagen gehört.
</p>
<p>Wir frühstückten erst mal im Hafen von Hammerfest und genossen noch ein bisschen die Aussicht auf die „tollen“ Industrieanlagen – Hammerfest wirkte auf uns eher wie ein größeres Industriegebiet mit kleinem Stadtkern. Die Flamme einer Gasproduktionsanlage lodert permanent meterhoch im Hafen wie das olympische Feuer. Naja, sieht aber nur halb so schön aus ;-)
</p>
<p>Auf einmal stand Martine wieder neben unserem Auto und sagte: „Also, wir werden nicht zum Nordkap fahren, weil wir haben gehört, das kostet 200 Euro“. WOW, ganz schön viel Geld für einen Tunnel und eine Kugel auf einem Fels ....
</p>
<p>Dany und ich überlegten lange ob uns das jetzt wert ist. Die netten Leute im Touristcenter checkten eigentlich auch nicht wirklich was dort angeboten wird und was das kostet. Sie sagten irgendwas von 1000 Kronen pro Person. Was umgerechnet 270 Euro wären ... KRASS.
</p>
<p>Ich suchte dann nochmal kurz im Internet nach Preisen – FEHLANZEIGE – und checkte dann kurz das Wetter. „Wir haben heute noch Sonne dort. Ab morgen soll es regnen,“ sagte ich zu Dany. Kurzentschlossen sahen wir uns an und fuhren direkt los. Den Panoramablick auf Hammerfest ließen wir dann aus.
</p>
<p>Kurz vor dem Nordkaptunnel fuhren wir einem Schwabacher Reisebus hinterher ... so weit weg von zuhause und trotzdem wie daheim :-)
</p>
<p>Wegen der Kosten hatten wir ja mit dem schlimmsten gerechnet und vorsichtshalber mal gezählt, wie viel tausend Kronen wir noch in bar haben. Wir kamen zum Tunnel, der die Nordkap-Insel mit dem Festland verbindet: 26 Euro insgesamt für Bus und 2 Leute (one way). Na, das ist ja ok.
</p>
<p>Dann ging es durch eine echt absolut beeindruckende Gegend. Hier ist NIX, ABSOLUT NIX, also WIRKLICH NIX! Ach doch, Rentiere und davon hunderte!
</p>
<p>Wir kamen dem Kap immer näher und hielten ab und an, um uns dieses Nichts genauer anzuschauen: flache Felsen, Gras, Flechten ... Wir hatten Glück, dass wir was gesehen haben, denn normalerweise ist es hier wohl immer sehr neblig.
</p>
<p>Am eigentlichen Kap angekommen erwartete uns eine vierreihige Einfahrt durch eine Bezahlstation. Im Reiseführer hatten wir gelesen, das würde pro Person 30 Euro kosten. Dann bekommt man noch die Features dazu, die man gerne hätte: Museum, Cafe, Nordkap-Diplom und lauter so Schnick-Schnack. Die Stahlkugel, die man von hunderten Bildern kennt, ist natürlich hinter einer Kuppe versteckt, so dass man auch wirklich bezahlen muss.
</p>
<p>Wir wussten aber, dass es von hier einen Wanderweg zu einem noch nördlicher liegenden Aussichtspunkt gibt und der auf Grund seiner Länge schon einer natürlichen Aussiebung unterlag. 5 Stunden Wandern ist halt nicht für jeden was. Wir entschlossen uns diese Tour zu wandern. Das Geld für das Bild mit Kugel sparten wir uns.
</p>
<p>Die Wanderung war der Hammer. Inmitten von Rentierherden wanderten wir einige Stunden durch eine fast pflanzenlose Gegend – ok, irgend ein Gras wächst da noch, aber Büsche, Sträucher oder Bäume sucht man vergebens.
</p>
<p>Nach 2,5 Stunden war der nördlichste Punkt erreicht. Der Blick von dort auf das Nordkap war gigantisch und eigentlich viel schöner, da man die Höhe der Felsen besser erkennen konnte. Wir packten unsere Brotzeit aus und ließen uns den Wind um die Ohren pfeifen.
</p>
<p>Ab morgen soll es ja hier regnen, dann fahren wir einfach der Sonne hinterher und es geht wieder ab in den Süden ... 
</p>
<table data-title='2012-06-18-norwegen'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-18-norwegen/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-18-norwegen/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-18-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-06-18-10-46-europa-norwegen_R.small.gpx"></div></p>
