---
title: 'Erstens kommt es anders .... und zweitens als man denkt ....'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, Norwegen, Reise, Route, Urlaub ]
---
<p>15. – 16 Juni. (Storfjord - Altafjord - Alta Canyon)
</p>
<p>Als wir in der früh mal unsere Jalousien nach oben rollen stellen wir fest ... uii, ein nicht so schöner Tag ... Es regnet leicht und der Himmel ist mit schweren Wolken verhangen, woraus man schon schließen konnte: „Das wird heute wohl nicht besser“. Den Abend zuvor hatten wir noch von einem Canyon bei Alta gelesen, zu dem wir auf jeden Fall in den nächsten Tagen hinwandern wollten. Bis dahin standen aber noch 320 km Fahrt vor uns und somit beschlossen wir: „Heute ist wieder mal ein reiner Tag zum weiterfahren“ Ab und an ne Pause, aber die Strecke sollte sich eigentlich in 6 Stunden machen lassen.
</p>
<p>Auf der Fahrt gab es hier und da doch mal eine Stelle ohne Regen, an der ich ein bisschen mit der Angel spielen konnte und Dany gespannt vor Jörgs Buchempfehlungen saß. Durch Kälte, Wind und Nieselregen waren unsere Pausen aber immer nicht von allzu langer Dauer.
</p>
<p>Um zirka 17 Uhr, 30 km vor dem Ort wo wir eigentlich mal einen Platz zum Übernachten suchen wollten, klarte der Himmel auf und wir sahen einen netten Platz, wo schon ein paar andere Leute standen: „Noch mal ne kurze Pause?“ – Das war der Plan!
</p>
<p>Auf einer Felszunge sah ich einen Mann stehen, der sein Glück mit der Angel versuchte. Nachdem es im Norden schon zunehmend schwerer, wird vom Ufer aus zu fischen (hier geht es oft sehr flach ins Wasser) musste ich die Chance ergreifen. Da man ja beim Angeln nicht viel redet war die Anfangsinfo: „Kleine Fische.“ Damit war das Gespräch mit dem Angelkollegen auch schon beendet. Nach einigen kleinen Fischen hatte ich auf einmal einen Großen an der Angel. Dany eilte auch gleich zu uns, um zu schauen was heute auf dem Grill liegt. Auf einmal schrien wir beide wie aus einer Kehle auf: „WOOOWWWHOWWW, was ist denn dass????? Kann man das essen? Wie schwimmt denn das?“ Ganz flach und braun, zwei Glupschaugen und ein schief stehendes Maul mit Zähnen. Der Mann von nebenan schaute nur kurz herüber und meinte „Steinbutt – echt lecker!“ Nachdem das Ding auf dem Felsen lag, musste man ihn ja auch töten. Aber .... wie macht man das denn? Der sah einfach so ganz anders aus, als die anderen Fische, die wir bisher so geangelt hatten. So langsam kamen wir dann mit dem Mann ins Gespräch. Er erklärte uns ganz nett ein paar neue grundlegende Dinge zu Fisch und Angel und bot uns an, den Fisch später zu filetieren. Seht gut, denn erstens konnte ich mir das dann mal endlich von einem Experten ansehen und zweitens war unser größtes Messer zirka 15 cm zu kurz (Aha! Wir brauchen neues Equipment :-))
</p>
<p>Ganz stolz trugen wir unseren Fang zum Auto und waren noch ganz aufgeregt vom krassen Anblick unseres Abendessens.
</p>
<p>Ne Stunde später ging ich dann mal rüber zu dem coolen, umgebauten LKW (der mir bei der Ankunft schon gleich ins Auge gestochen ist) und wollte mal fragen wie das mit unserem Fisch jetzt läuft. Der Mann klemmte sich sein Messer und ein Brett unter den Arm und dann gab es ne Filetiereinführung – Das werde ich dann jetzt wohl auch mal probieren.
</p>
<p>Wir verabredeten uns dann noch auf ein Glas Wein und Lagerfeuer. Dany und ich machten davor erst mal unseren Steinbutt mit einem neuen Spezial-Rezept vom freundlichen Nachbarn: mit gesalzener Butter in der Pfanne anbraten und mit Zitrone beträufeln.
</p>
<p>Wir schauten dann mal auf ein Glas Wein zum LKW (Lagerfeuer fiel auf Grund der Temperatur aus). Als wir reinkamen, schlug unser Ausbauerherz gleich höher! TOP! Also das wäre auch was für uns :-) Besonders das MEGA-Panoramafenster, das gefühlt so groß war wie die Schiebetür unseres Busses, war der Hammer! Schnell war klar – Andreas und Yvonne aus Berlin machen das nicht zum ersten Mal. Wir tauschten dann stundenlang Geschichten über Länder, Leute, Reisen, Essen und Equipment und verabschiedeten uns um 2 Uhr nachts bei hell erleuchtetem Himmel. Wer hätte gedacht, dass das Wetter heute doch noch so gut wird? Wer hätte gedacht, dass wir heute so nette Leute treffen? Wer hätte gedacht, dass wir eine neue Fischart fangen und essen?
</p>
<table data-title='2012-06-15-norwegen'>
<tr>
<td><a><img src='/posts/assets/2012-06-15-norwegen/1.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-06-15-norwegen/2.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-06-15-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-06-15-07-13-europa-norwegen_R.small.gpx"></div>
</p>
<p>Am Samstag schien dann gleich wieder die Sonne – unsere Canyon-Tour konnte also bei perfekten Bedingungen starten. Nachdem wir den „Einstieg“ zur Wanderung gefunden hatten, dachten wir uns gleich, dass man hier auch gut stehen bleiben könnte. Wir waren auf einer Hochebene, fast am höchsten Punkt im Umkreis – ein paar Meter den Hang hinauf und man hat einen 360 Grad Blick über Lappland. Die Rentiere ziehen hier einfach mal so nebenbei am Bus vorbei.
</p>
<p>Natur PUR!
</p>
<p>Die Wanderung dauerte insgesamt 5 Stunden. Da Schneeschmelze und Regenwetter den Boden komplett durchweicht hatten und das Wasser nicht so schnell abfließen kann, querten wir zwei Bergflüsse barfuß und liefen durch sehr sumpfiges Gebiet bis zu unserem Ziel. Am Ende bot sich uns ein faszinierender Blick in eine Schlucht mit bis zu 400m hohen Felswänden – und das mitten in einer doch nur sehr hügelig wirkenden Gegend.
</p>
<p>Wieder am Bus angekommen setzen wir unserm Tag die Krone auf, indem wir unser Rentierfleisch, das wir in der früh noch gekauft hatten, zu einem leckeren Gulasch nach norwegischen Rezept kochten. Suuuuper lecker aber wahrscheinlich doch nichts für jeden Tag!
</p>
<p>Nach dem Essen schauten Dany und ich verträumt in die menschenleere Landschaft und ließen uns die Sonne auf den Pelz scheinen. Niemand – absolut niemand hier! Eine halbe Stunde später radelte ein junger Kerl den steinigen Berg herauf. Respekt! Dany und ich hatten schon öfter mal über Fahrradfahrer gesprochen, die hier unterwegs sind – das wäre nichts! Ich fahre zwar suuuper gerne und viel mit dem Mountainbike, aber hier ist halt ECHT ungemütlich! Da bin ich doch eher so der Gardaseetyp: Biken und dann bei 30 Grad ein Eis in Arco essen :-D
</p>
<p>Wir kamen ins Gespräch und schnell war klar – „Germany“. Steffen, so heißt der Radler, fährt mit dem Rad vom nördlichsten zum südlichsten Punkt in Europa: vom Nordkap in Norwegen bis nach Tarifa in Spanien – NUR mit dem Rad (keine Fähre, kein Bus / http://www.stevencrosseseurope.de/) Ich holte dann erst mal einen Stuhl aus unserem „Dachboden“ (Dachbox) und dann quatschten wir erst mal ausgiebig. Wie man seinen Erzählungen entnehmen konnte, ist sein Vorhaben nicht immer ein Spaß. Tunnel, durch die man fahren muss (weil man ja auch keinen Bus nehmen darf), sind endlos und stickig. Die Kälte setzt einem zu, weil man ja auch nicht mit einer Tonne Schlafsäcke, Kissen, Decken, Campingsesseln und Standheizung durch die Gegend fährt wie wir. Seine „dicke“ Jacke schien mir doch sehr luftig, aber wir konnten ihm dann noch ein Stück von unserem Fisch grillen und mit Wein versorgen ... das wärmt ja auch :-) Stundenlang saßen und quatschen wir. Keine Wolke am Himmel trübte den Sonnenschein, bis wir uns um 1:30 dann mal in unsere Schlafsäcke legten. Hatte schon ein ganz schlechtes Gewissen, dass wir jetzt in unseren schönen warmen Bus liegen und Steffen in sein vom Wind geschütteltes Zelt kroch.
</p>
<p>Wer hätte zu Beginn des Tages gedacht, dass wir heute jemanden einladen? Gestern hatten wir ja das Vergnügen. Und wer hätte gedacht, dass wir wieder bis mitten in der Nacht bei Sonnenschein da sitzen und quatschen?
</p>
<p>Naja, viele Tage kommen anders als man denkt ... man muss es halt einfach ein bisschen „rollen“ lassen :-) Gute Fahrt noch Steffen!
</p>
<table data-title='2012-06-16-norwegen'>
<tr>
<td><a><img src='/posts/assets/2012-06-16-norwegen/1.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-06-16-norwegen/2.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-06-16-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-06-16-11-45-europa-norwegen_R.small.gpx"></div></p>
