---
title: 'Büssli goes kiiking'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Estland, Europa, GPX, Karte, Reise, Route, Urlaub ]
---
<p>17. Juli (Tartu, Karula)
</p>
<p>Nach unserem wieder einmal recht späten Frühstück machten wir uns erst mal auf zum Bird-Watching. Naja, viele Vögel gab es nicht zu sehen, aber dafür mindestens 1.000 Libellen. Scheint gerade die Hauptsaison der Verwandlungsphase zu sein. Wir wanderten in einer etwas bedrohlichen Stimmung, weil die Wolken am Himmel ziemlich nach Regen aussahen. Ein bisschen Glück gehört auch dazu und so kamen wir nach einer guten Stunde wieder trocken zu unserm Büssli und peilten als nächstes Otepäa an. Diese Ortschaft ist einer der Hauptorte für Wintersportler in Estland. Nachdem wir aber zur falschen Zeit am falschen Ort waren, konnten wir uns nur die Kirche ansehen und in der Touristinfo ein paar gute Informationen über den Süden von Estland abgreifen.
</p>
<table data-title='2012-07-17-estland'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-17-estland/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-17-estland/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-17-estland/3.jpg'/></a></td>
</tr>
</table>
<p>Für diesen Tag hatten wir aber sowieso schon den Karula-Nationalpark als Ziel ausgesucht. Auf unserer Lieblingswebseite von RMK hatten wir uns schon die passende Landkarte herausgesucht – und nachdem wir uns ja nicht nur auf die Technik verlassen, haben wir natürlich auch eine analoge Karte aus dem Touristoffice!
</p>
<p>Auf der Karte waren mehrere Zelt- und Feuerplätze eingezeichnet – einer davon wird schon passen. Auf der Fahrt dorthin mussten wir natürlich noch irgendwo eine Kaffeepause machen! Was wäre ein Tag ohne unsere gemütliche Nachmittagsrast!!! Zirka 8 km nach Otepäa gibt es einen kleinen See, an dem laut Karten auch zwei Zeltplätze verzeichnet sind. „Da halten wir kurz“ sagte ich und Dany legte den Gang ein. Einige Minuten später erreichten wir den Platz und dachten erst: „Mist, da kann man gar nicht bis vor fahren“. Aber als wir dann die 100 Meter gelaufen waren, stellten wir fest: „Hey cooool!!! Da ist so ne estnische Schaukel!!! Komm das probier mer gleich!“ Der Kaffee musste noch ein bisschen auf uns warten und wir machten erst mal das Sportgerät klar. In Estland ist Kiiking eine Nationalsportart. Moderne Hightechschaukeln (nicht wie unsere) haben 3 bis 8 Meter lange Rahmen. Zu den Wettkämpfen gehören auch Loopings, bei denen die Kiiker aber gesichert sind. 
</p>
<p>Ja, wie man auf dem Video sieht haben wir das mit dem Überschlag lieber mal ausgelassen :-D. Die Schaukel hatte beim Gas geben sowieso schon manchmal ein paar komische Geräusche von sich gegeben. Nach der Anstrengung konnten wir uns dann auch endlich unserem Kaffee widmen und uns danach noch in der Sonne räkeln.
</p>
<object width='763' height='480'>
  <param name='movie' value='https://www.youtube.com/v/hQgpTvL0oKc?version=3&autoplay=0&theme=light&modestbranding=1'/>
  <param name='allowFullScreen' value='true'/>
  <param name='allowScriptAccess' value='always'/>
  <embed allowscriptaccess='always' width='763' src='https://www.youtube.com/v/hQgpTvL0oKc?version=3&autoplay=0&theme=light&modestbranding=1' allowfullscreen='true' type='application/x-shockwave-flash' height='480'/>
</object>
<p>Nach zirka einer Stunde setzten wir unsere Fahrt fort, damit wir nicht erst in der Dunkelheit am Feuerplatz ankommen. Das war auch gut so! Die Straße wurde mit Ankunft im Nationalpark zunehmend schlechter. Geschotterte Waldwege sind da eher der Standard. „Laut Karte geht’s da vorne links zum ersten Feuerplatz“, sagte ich zu Dany, aber als wir die Einfahrt sahen war klar: Wir schauen mal lieber bei der nächsten :-) Die zweite Einfahrt sah zwar besser aus, wurde aber nach 100 Metern mindestens genauso schlimm. Sah eher aus als wenn man in Roth in die Sandgrube runterfährt. Wir hielten zur Sicherheit nochmal an und schauten uns den Weg bis ans Ende genauer an. OOOOkayyy!! Fest war er, aber es ging über eine kleine Brücke – die Geländer waren schon umgefallen, weil sie so morsch waren! Ich schaute unter die Brücke und entdeckte, dass dort zwei Monsterbalken befestigt waren. „Das passt schon“, meinte ich und wir holten das Auto. Langsam fuhren wir den Sandweg runter – den wir morgen mit Schwung wieder rauffahren ☺ - und zuckelten über die Brücke. Danach standen wir an einem Platz, der mit Sicherheit in unsere Bestenliste kommt. Direkt am See mitten im Wald mit viiiel Sonne und Ruhe. „Hier sind wir auf jeden Fall mal wirkliche alleine“, dachten wir. Aber wir lagen mal wieder falsch, denn um 23 Uhr in der Dunkelheit kamen dann noch zwei Autos mit zwei estnischen Familien und bauten ihre Zelte auf. Auch in Estland ist man nie alleine!
</p>
<p>Am Morgen reparierte ich erst mal die Brücke ein bisschen. Der Übergang zwischen Boden und Brücke war schon ziemlich eingedrückt, so dass da ein größerer Absatz war. Nach einer kleinen Rundwanderung setzten wir uns ins Büssli und fuhren über die gefixte Brücke mit viel Schwung die Sandstraße hinauf ...
</p>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-07-17-10-19-europa-estland_R.small.gpx"></div>
</p>
