---
title: 'Kurze Pause ....'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Reise ]
---
<p>Noch 2 Tage dann ist Abfahrt .... packen, packen, packen ....
</p>
<p>Da muss man auch mal ne Kaffeepause machen!
</p>
<a href='https://www.buessli.eu/wordpress/2012/04/27/kurze-pause/pause/' rel='attachment wp-att-239'><img alt='' width='500' src='https://www.buessli.eu/wordpress/wp-content/uploads/2012/04/pause.png' class='aligncenter size-full wp-image-239' title='pause'/></a>
