---
title: '10000 ... ein Fazit'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, Finnland, GPX, Karte, Reise, Route, Urlaub ]
---
<p>Wir sind jetzt in Helsinki angekommen und kurz vor der Einfahrt in die Stadt stellten wir beim Blick auf den Kilometerzähler des Busses fest: „Wir sind jetzt schon 10000 km durch vier Länder gefahren, seitdem wir das Ortsschild von Nürnberg fotografiert haben!“ Zeit, für ein kleines Fazit mit ein paar Zahlen. 
</p>
<p>Seit 67 Tagen sind wir nun unterwegs und fahren dabei durchschnittlich pro Tag 150 km. Laut Reisekostenbuch braucht der Bus im Schnitt 8,2 Liter auf 100 km ... ein traumhafter Wert für die 3 Tonnen, die wir mit uns herumfahren. Bei einem durchschnittlichen Dieselpreis von 1,65 Euro/l haben wir bislang 1360 Euro Diesel verfahren. Gut ein paar Liter hat auch die Standheizung verbrannt :-) Eigentlich hatten wir bis Helsinki mit 2000 km weniger gerechnet. Das war aber allein durch die Weite des Nordens und den Abständen zwischen den Sehenswürdigkeiten gar nicht möglich. 
</p>
<p>Der Bus läuft wie eine Eins! Alle technischen Spielereien funktionieren TOP! Strom von außen brauchten wir bis jetzt noch nicht – hat sich doch gelohnt, ein paar Euro mehr in die Elektrik zu investieren. Nur unser Gaswarner ist ein kleines Sensibelchen und jammert uns öfters mal unverhofft die Ohren voll. Pannen hatten wir bislang nur eine, aus der uns ein Opa mit einem Traktor gerettet hat – versumpft am Angelplatz. Wichtigstes Equipment am Bus ist die Markise und die Standheizung. Wenn es mal regnet, kommt man damit trockenen Fußes in ein warmes Heim!
</p>
<p>Das Wetter war bis jetzt immer auf unserer Seite. Wir hatten in den ganzen Wochen nur zwei Tage Dauerregen. Ein kleiner Schauer ab und an kommt schon mal vor, ist ja aber kein Beinbruch. Für nordische Verhältnisse waren wir in der wärmeren Jahreszeit unterwegs und seit wir wieder südlicher kommen, brauchen wir auch wieder unsere Sonnencreme :-)
</p>
<p>Mehr als 40 Fische haben wir gefangen und die Anzahl der Angeln von zwei auf fünf erhöht. Zum Angeln nach Norwegen werden wir bestimmt nochmal fahren. In den Fjorden mit dem Bus stehen, die Natur genießen und Abends den selbstgefangenen Fisch brutzeln .... traumhaft.
</p>
<p>Dany entwickelt sich immer mehr zur Saunaliebhaberin. Wir konnten auf der Reise einige Saunen ausprobieren, wobei die Savusauna kaum mehr zu toppen sein wird.
</p>
<p>Insgesamt waren wir 18 Mal an einem Campingplatz, wovon man sich einige wirklich hätte sparen können. Möglichkeiten zu Duschen gibt es nämlich auch an anderen Stellen und einen richtigen Mehrwert hat man an einem Campingplatz in Skandinavien nur, wenn man Strom braucht oder in einer Großstadt ist. 
</p>
<p>Eine Erkenntnis der besonderen Art: Es war günstiger, zu zweit den Eintritt in ein Spa-Center zu bezahlen und auf deren Parkplatz davor zu übernachten, als auf den daneben liegenden Campingplatz einzuchecken. In 67 Tagen sind wir nur drei Mal von Plätzen vertrieben worden, an denen wir nicht frei übernachten durften. Vier Mal haben wir in einem See oder im Meer gebadet. Naja, baden bedeutet: schnell rein und schnell wieder raus, denn es war wirklich arschkalt!
</p>
<p>Wir haben viele nette Leute kennen gelernt und neue Freunde gefunden, andere Fernreisende und Einheimische. Alle haben ihre eigenen Geschichten und uns viele neue Eindrücke geschenkt. 
</p>
<p>Unser Kochstil hat sich dem Reisen angepasst. Trinkwasser ist mitunter das Kostbarste, was wir an Bord haben, und da will man nicht mal schnell 5 bis 8 Liter zum Spülen opfern. Man lernt also sein Essen so zuzubereiten, dass möglichst wenig zum Spülen anfällt. Das meist genutzte Küchenequipment ist definitiv der kleine Gaskocher und die Kaffeemaschine. Kleine Kaffeepausen an wunderschönen Orten machen die Reise noch genussvoller. Nicht mehr genießen können wir leider die 18 Liter Wein, die bei der schwedischen Post eingelagert sind, weil der Campingplatz unser Päckchen doch nicht wie versprochen angenommen hat. Vielleicht holen wir den Wein in ein paar Jahren ab :-)
</p>
<p>Zu den Dingen, die wir bis jetzt noch nicht gebraucht haben, gehören die super Außenbeleuchtung des Busses, weil es in Skandinavien bis jetzt nachts noch nicht wirklich dunkel wurde. Ebenfalls nicht benötigt haben wir bisher den Beamer mit Sat-Schüssel. Wir sehen sowieso den ganzen Tag den National Geographic Live Channel ;-)
</p>
<p>Mit der Polizei zu tun hatten wir bis jetzt zwei Mal und das nur wegen Alkoholkontrollen – wir hoffen, das bleibt weiterhin so unkompliziert!!!
</p>
<p>Für unser zukünftiges Heim wächst die Liste an Ideen, was wir alles umsetzen könnten. Hier im Norden werden aus wenigen kostengünstigen Dingen viele schöne, absolut praktische Lösungen realisiert. Da würde ich am liebsten gleich anfangen zu basteln!
</p>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-07-07-10-51-europa-finnland_R.small.gpx"></div></p>
