---
title: 'Unsere Stars in Oslo ...'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Karte, Norwegen, Reise, Route ]
---
<p>(18. – 22. Mai) Oslo – Sörumsand – Oslo)
</p>
<p>... sind auf jeden Fall Thomas, Mira und Lara sowie Katja und Alexander! Danke für euer herzliches Willkommen heißen und eure Einführung in den norwegischen Lifestyle!
</p>
<p>Wie am Datum leicht zu erkennen, waren wir relativ lange in Oslo und Umgebung. Nachdem wir nun so überraschend leicht über die Grenze gekommen sind, haben wir uns erstmal einen Campingplatz in Stadtnähe gesucht. Der Platz an sich war nicht so super (wie eigentlich alle Stadt-Campingplätze), aber dafür war die Lage ganz gut. Gleich bei einem der Wahrzeichen von Oslo: der Skisprungschanze am Holmenkollen. Die haben wir natürlich auch besichtigt ebenso wie viele andere Highlights in der Stadt: die Akershus-Festung, das Rathaus, das stylische Hafenviertel Akker Bryge, den Vigelandspark mit über 60 lebensgroßen, nackten Statuen, die Oper, die aussieht wie ein Eisberg ...
</p>
<p>In unserem persönlichen Skandinavien-Hauptstadt-Ranking steht immer noch Stockholm auf Platz 1, aber dicht gefolgt von Oslo und dann Kopenhagen.
</p>
<table data-title='2012-05-18-schweden'>
<tr>
<td><a><img src='../../../../posts/assets/2012-05-18-schweden/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-05-18-schweden/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-05-18-schweden/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-05-18-10-15-europa-schweden.small.gpx"></div>
</p>
<p>In der Nähe von Oslo wohnt ein ehemaliger Schulkamerad von Marco mit seiner Familie. Die drei haben wir besucht und dort gleich jede Menge typisch norwegische Dinge gemacht:
</p>
<ol>
	<li>Eine riesen Schüssel frische Schrimps pulen und sich daraus mit Mayonnaise und Zwiebeln ein belegtes Brot machen.</li>
	<li>Nachts in der Sauna sitzen und schwitzen und danach in den milden norwegischen Frühlingsregen. Ok, das ist eher finnisch, aber das war meine erste richtige Sauna-Erfahrung und es war suuuper!</li>
	<li>Einführung ins Fliegenfischen. Jetzt kann es nicht mehr lange dauern, bis der erste Fisch für unser Abendessen sein Leben lassen muss ;-)</li>
</ol>
<table data-title='2012-05-19-norwegen'>
<tr>
<td><a><img src='../../../../posts/assets/2012-05-19-schweden-oslo/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-05-19-schweden-oslo/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-05-19-schweden-oslo/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-05-19-11-50-europa-schweden-oslo.small.gpx"></div>
</p>
<p><div class="map" gpx="/gpx/2012-05-20-11-54-europa-bei-thomas.small.gpx"></div>
</p>
<p>In Olso-Stadt haben wir dann mit Katja und Alexander etwas gemacht, was im Frühling und Sommer wohl alle Norweger machen: sich einen Einweggrill kaufen, an den Strand setzen, Würste grillen und dazu ein schönes, frisches alkoholfreies Bier!
</p>
<table data-title='2012-05-21-schweden'>
<tr>
<td><a><img src='../../../../posts/assets/2012-05-21-schweden/1.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-05-21-schweden/2.jpg'/></a></td>
<td><a><img src='../../../../posts/assets/2012-05-21-schweden/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-05-21-12-23-europa-oslo.small.gpx"></div>
</p>
<p>Danke an euch alle für alles und bis demnächst in Norwegen oder Deutschland!</p>
