---
title: 'Auf zur Salami!'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, GPX, Karte, Reise, Route, Urlaub ]
---
<p>20. August (Oggau, Györ)
</p>
<p>Nach fast einer Woche in Oggau am Neusiedlersee entfernten wir uns heute wieder von der „Heimat“. So nah, wie wir in den letzten Tagen an Deutschland dran waren, kommen wir jetzt die nächsten 2,5 Monate nicht mehr.
</p>
<p>Nachdem uns ja schon in Norwegen die Rentner von der ungarischen Salami und den Thermalbädern vorgeschwärmt hatten, müssen wir uns das jetzt mal genauer ansehen ;-) Ok, wegen den Thermalbädern fahren wir nicht in erster Linie hin, aber zu einem leckeren Stück einheimischer Salami werden wir sicher nicht „Nein“ sagen.
</p>
<p>Um 11:59 schafften wir es gerade so aus dem Campingplatz auszuchecken. Immer dieser Stress am Morgen :-D. Als Tagesziel hatten wir uns irgendwas zwischen Sopron und Budapest vorgestellt. Sopron ist die erste größere Stadt nach der Grenze und sollte laut ADAC-Karte ein sehenswerter Ort sein.
</p>
<p>Auf der Fahrt nach Ungarn stellten wir jedoch fest, dass dort am 20. August „Tag der Verfassung“ ist und somit alle Geschäfte geschlossen hatten. In Sopron war absolut nichts los. Kaum Menschen auf der Straße. Das konnte zum einen wegen dem Feiertag sein oder alle wollten dem extrem heißen Tag entfliehen. Wir schlenderten ein wenig durch die stark aufgeheizte Innenstadt und dachten uns dann aber auch: „Legen wir uns lieber irgendwo im Schatten in die Hängematte“. Wir fuhren noch die 60 Kilometer bis Raab und fanden dort wieder mal einen fast menschenleeren Campingplatz mitten im Wald. Alles an Equipment wurde aufgebaut und dann hieß es: Gemütlich mit unserem österreichischen Wein rumsitzen, bis der etwas kühlere Abend kommt ... 
</p>

<%= site.picasa.alben["2012-08-20-ungarn"].get_picture_table %>

<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-08-20-12-05-europa-ungarn_R.small.gpx"></div>
</p>
