---
title: 'Bergwandern in der Tatra'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Reise, Route, Slowakei, Urlaub ]
---
<p>13. – 15. August (Niedere Tatra – Liptovsky Mikulas - Jelenc)
</p>
<p>Nachdem wir gestern Abend noch dem Restaurant am Campingplatz einen Besuch abgestattet hatten, mussten wir uns erst mal richtig bewegen! Das Restaurant war zwar nach eigenen Angaben das Beste am Platz, aber kommt halt immer drauf an wie groß man denn den Platz definiert ;-) Die kleine Kneipe, in der wir mit Christian und Nicole waren, schlägt das Hotelrestaurant auf jeden Fall um Längen!
</p>
<p>Ich hatte uns auf den OpenStreetMap-Karten einen Wanderweg zum dritthöchsten Gipfel in der Niederen Tatra – dem Chopok (2024 Meter) – herausgesucht. Wir mussten einige Kilometer mit dem Büssli in den Nationalpark reinfahren, um in die Tour einsteigen zu können. Das Gebiet um den Chopok – und auch den daneben liegenden andern höheren Gipfeln – ist sehr gut erschlossen, da es im Winter zu einer riesigen Skiarena wird. Etliche Skilifte zierten die Berge. Unser Wanderweg verlief in den unteren zwei Dritteln durch Wald oder an einem schönen Berghang entlang. Im oberen Drittel wurde uns mal gezeigt, wie man einen MEGA-Lift an einen Berg baut. Genau auf dem Grat, der hinauf zum Gipfel führte, wanderten wir in einer Schneiße der Verwüstung. Die Bauarbeiten waren noch nicht abgeschlossen und so war es auch nicht verwunderlich, dass ab und an jemand mit einem 4x4 Jeep auf 1800 Metern an uns vorbei fuhr. Die neue Bergstation wurde glücklicherweise ein paar hundert Meter neben dem nicht vorhandenen Gipfelkreuz auf dem Chopok errichtet. Somit konnten wir wenigstens von dort in Ruhe in die umliegenden Täler schauen – TRAUMHAFT!!!! Auch die Niedere Tatra ist wirklich eine Empfehlung wert! Es gibt einige Mehrtagestouren von Hütte zu Hütte, die über die einzelnen Gipfel führen. Beim Abstieg sind wir dann erst mal – so wie sich das gehört – in einer Skihütte auf nen Germknödel und ne Sauerkrautsuppe eingekehrt. Gestärkt machten wir uns wieder auf ins Tal und konnten uns nach den fast 1000 Höhenmetern zufrieden in unser Campingsofa vor den Bus setzen :-)
</p>
<table data-title='2012-08-13-slowakei'>
<tr>
<td><a><img src='/posts/assets/2012-08-13-slowakei/1.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-08-13-slowakei/2.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-08-13-slowakei/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-08-13-11-11-europa-slowakei_R.small.gpx"></div>
</p>
<p>Um auch endlich wieder mal unseren Wäscheberg zu verkleinern, suchten wir uns einen Campingplatz mit Waschmaschine. Trockner ist hier in der Slowakei eher eine Seltenheit. Aber an diesem Abend hatten wir Glück und es wehte eine sanfte Brise, die unsere Wäsche im Nu trocknete.
</p>
<p>Hier in der Tatra ist auf jeden Fall BMW das Maß aller Dinge. Überall sieht man Werbung und Ausstellungswägen in Glaskästen. Als wir dann am sehr belebten Campingplatz eincheckten, schrieb uns die nette Dame noch das Passwort für das WLAN auf: „BMWX5“ .... ich musste erst mal grinsen :-)
</p>
<p>Am nächsten Morgen hatte das Wetter leider nichts Gutes für uns übrig und es regnete sich sehr schnell ein. Aber das ist ja kein Problem für uns, denn was machen wir an starken Regentagen? Richtig, wir gehen in ne Therme :-) Bis jetzt mussten wir das ja erst zwei Mal in Anspruch nehmen. Auf jeden Fall sollte es hier um die Ecke einen Thermenpark geben. Dort angekommen waren wir eher etwas schockiert als erfreut. Sah alles mehr nach einem Kinderfreizeitzentrum als nach einer Thermenlandschaft aus. Hüpfburgen, Schaukeln, bunte Rutschen waren zu sehen und auf der Übersichtskarte konnte man erkennen, dass es sich vielmehr um einen großen Hotelkomplex aus mehreren Hotels mit gemeinsamen Schwimmbereich handelte. Der Eintrittspreis von 29 Euro pro Person hinderte uns dann endgültig am Besuch.
</p>
<p>Weiterzufahren war eigentlich auch das Beste was wir machen konnten, denn wir wollten ja bis Mittwochabend in Österreich sein, um uns mit Danys Eltern zu treffen. Bis dahin waren es noch knappe 300 Kilometer. Auf den OSM-Karten suchte ich uns einen Campingplatz, der noch in der Slowakei, aber zirka auf der Hälfte der Strecke lag. Wir fuhren an der Großen Fatra entlang und nachdem wir die hohen Berge der Slowakei hinter uns gelassen hatten, hörte es auch auf zu regnen. 
</p>
<p>Am Campingplatz angekommen waren wir, naja ich sag mal, eher schockiert :-) Die Lage war zwar superschön: auf einem Hügel, zwischen großen, alten Eichen und mit viel Wiese. Der Platz an sich sah aber eher aus wie ein ehemaliges sozialistisches Ferienlager: Von den Ferienhütten blätterte die Farbe ab, der Steinplattenweg rund um das Sanitärgebäude bestand nur noch aus Bruchstücken und das Bad selbst war mit den deckenhohen Kacheln und vergitterten Fenstern alles andere als einladend. Wir machten erst mal einen Rundgang und waren ein bisschen am zweifeln, aber für 7 Euro mit Strom kann  man halt auch nicht viel erwarten. Nachdem der erste Schock vorbei war fanden wir den Platz aber ganz ok. Letztes Jahr in Kroatien hatten wir schon schlimmeres gesehen, und es war zumindest einigermaßen sauber. Der Platzwart war auch sehr bemüht, dass es uns gut geht. Noch ein Vorteil von so einem Platz mitten auf dem Land: Wir kamen in den Genuss eines wunderschönen Sternenhimmels, der nicht durch die Lichter einer Stadt gestört wurde. Und am Zwetschgenbaum konnten wir uns auch bedienen, das hat keinen gestört. Nachdem am Morgen auch noch fünf oder sechs Frauen zum putzen kamen, war ich fast ein bisschen traurig, dass ihre Arbeit nicht mehr Anerkennung bekommt.
</p>
<table data-title='2012-08-14-slowakei'>
<tr>
<td><a><img src='/posts/assets/2012-08-14-slowakei/1.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-08-14-slowakei/2.jpg'/></a></td>
<td><a><img src='/posts/assets/2012-08-14-slowakei/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="/gpx/2012-08-14-11-49-europa-slowakei_R.small.gpx"></div></p>
