---
layout: base
---
- for post in site.posts
  .blogpost
    %h2
      %a{:href=>"#{site.base_url}#{post.url}"}= post.title
    .blogtagbar
      #{post.date.strftime( '%Y-%m-%d' )}
    %p
      ~ post.content
    %hr
