---
title: 'Kroatien Tag 3'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2011, Europa, Karte, Kroatien, Urlaub ]
---
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2011-09-05-15-05-kroatien-03.compact.gpx"></div>
</p>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2011-09-05-18-23-kroatien-03.compact.gpx"></div></p>
